<header class="feed-title" ng-click="toggleAsideFunc()">
  <div class="wrapper">

    <h2>{{feedData.title}}<i class="fi-minus" ng-class="{'fi-plus': toggleAside}"><span class="move">(open navigation)</span></i></h2>

  </div>
</header>

<div class="details" ng-hide="mobileDimensions && toggleAside">
  <div class="wrapper">

  <div class="aside-nav">
    <a class="button-errors" href="/#/feeds/{{feedData.id}}/errors">
      {{feedData.error_count | number}} Total Feed Errors
      <br>
      <time id="feedDueDate" ng-if="getDueDateText(feedData.date)" class="due-date"><i class="fi-clock"></i> Final feed due {{getDueDateText(feedData.date)}}</time>
    </a>

    <nav class="feed-nav">
      <ul>
        <li><a id="sidebar-source" class="is-finished" href="/#/feeds/{{feedData.id}}/source">Source</a></li>
        <li><a id="sidebar-election" class="is-finished" href="/#/feeds/{{feedData.id}}/election">Election</a></li>
        <li><a id="sidebar-pollinglocations" class="is-started" href="/#/feeds/{{feedData.id}}/election/state">Polling Locations</a></li>
        <li><a id="sidebar-contests" class="is-started" href="/#/feeds/{{feedData.id}}/election/contests">Contests</a></li>
        <li><a id="sidebar-results" class="is-started" href="/#/feeds/{{feedData.id}}/election/results">Results</a></li>
      </ul>
    </nav>

    <a ng-if="!feedData.is_exporting" ng-click="exportFeedPost(feedData)" class="button-approve">Approve Feed</a>
    <a ng-if="feedData.is_exporting" class="button-approve disabled">Feed Location: {{feedData.export_status}}</a>

    <p align="center" class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </div>

  <div class="contact-wrap">
    <h2>Feed Contact</h2>
    <div ng-show="feedData.feed_contact && feedData.feed_contact!=null" class="vcard">
      <span ng-show="feedData.feed_contact.name" id="feed_contact_name" class="fn">{{feedData.feed_contact.name}}</span>
      <span ng-show="feedData.feed_contact.title" id="feed_contact_title" class="title">{{feedData.feed_contact.title}}</span>
      <span ng-show="feedData.feed_contact.tel" id="feed_contact_tel" class="tel">P: {{feedData.feed_contact.phone}}</span>
      <span ng-show="feedData.feed_contact.fax" id="feed_contact_fax" class="fax">F: {{feedData.feed_contact.fax}}</span>
      <span ng-show="feedData.feed_contact.email" id="feed_contact_email" class="email"><a href="mailto:{{feedData.feed_contact.email}}">{{feedData.feed_contact.email}}</a></span>
    </div>

    <div ng-show="feedData.feed_contact ==null" class="vcard">
      N/A
    </div>

  </div>

  </div>
</div>
