<header class="feed-title" ng-click="toggleAsideFunc()">
  <div class="wrapper">

    <h2>{{feedData.title}}<i class="fi-minus" ng-class="{'fi-plus': toggleAside}"><span class="move">(open navigation)</span></i></h2>

  </div>
</header>
<div id="asideSection" class="details animate-hide" ng-class="{'hidden': mobileDimensions}">
  <div class="wrapper">
  <div class="aside-nav">
    <span class="button-errors">
      <span class="important-errors">{{errorCount.important_error_count | number}} Total Errors in Feed</span>
      <br>
      {{errorCount.warning_error_count | number}} Warnings in Feed
      <time id="feedDueDate" ng-if="getDueDateText(feedData.date)" class="due-date"><i class="fi-clock"></i> Final feed due {{getDueDateText(feedData.date)}}</time>
      <a class="button button-download" href="{{errorReportUrl()}}">Download Full Error Report</a>

    </span>

    <nav class="feed-nav">
      <ul>
        <li><a id="sidebar-overview" class="is-finished" href="{{urlForFeed('')}}">Overview</a></li>
        <li><a id="sidebar-source" class="is-finished" href="{{urlForFeed('/source')}}">Source &amp; Election</a></li>
        <li><a id="sidebar-pollinglocations" class="is-started" href="{{urlForFeed('/election/state')}}">Polling Locations</a></li>
        <li><a id="sidebar-contests" class="is-started" href="{{urlForFeed('/election/contests')}}">Contests</a></li>
        <li><a id="sidebar-errors" class="is-started" href="{{urlForFeed('/errors')}}">Errors</a></li>
      </ul>
    </nav>

    <a ng-if="feedIsApprovable" ng-click="exportFeedPost(feedData)" class="button-approve">Approve Feed</a>
    <div ng-if="!feedIsApprovable" class="button-errors disabled">Feed Cannot Be Approved</div>

    <p align="center" class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </div>
  </div>
</div>
