<i id="feed-ballotlineresults-content"></i>

<span ng-if="!feedBallotLineResults" class="is-loading"></span>

<div class="data-module-full">
  <table ng-show="feedBallotLineResults.length" id="resultsTable" ng-table="ballotLineResultsTableParams" template-pagination="resultsPagination" class="associations">
    <tr id="result{{$index}}" ng-repeat="result in $data">
      <td id="result-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/{{result.id}}" data-title-text="ID">{{result.id}}</span></a></td>
      <td id="result-votes{{$index}}" data-title="'Votes'" sortable="'votes'"><a href="{{$location.absUrl()}}/{{result.id}}" data-title-text="Votes">{{result.votes}}</span></a></td>
      <td id="result-certification{{$index}}" data-title="'Certification'" sortable="'certification'"><a href="{{$location.absUrl()}}/{{result.id}}" data-title-text="Certification">{{result.certification}}</span></a>
      </td>
    </tr>
  </table>


  <script type="text/ng-template" id="resultsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="resultsPage{{$index}}" ng-class="{'is-active': page.number == ballotLineResultsTableParams.page()}"
           ng-click="ballotLineResultsTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</div>