<i id="feed-locality-content"></i>

<p ng-if="feedLocality !== undefined"><a id="locality-errors" class="error-count error-count-{{feedLocality.error_count}}" href="{{$location.absUrl()}}/errors">{{feedLocality.error_count}} Errors in Locality ID: {{feedLocality.id}}</a></p>

<div class="data-module-full">
  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd id="locality-name" class="value">{{feedLocality.name}}</dd>
    <dt class="key">Type:</dt>
    <dd id="locality-type" class="value">{{feedLocality.type}}</dd>
  </dl>
</div>

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>Overview</h2>
    <span ng-if="!feedLocalityOverview['earlyVoteSites'] || !feedLocalityOverview['electionAdministrations'] || !feedLocalityOverview['pollingLocations'] || !feedLocalityOverview['precinctSplits'] || !feedLocalityOverview['precincts'] || !feedLocalityOverview['streetSegments']" class="more-detail is-loading"></span>
  </header>

  <!-- element table directive -->
  <section class="data-group data-module">
    <table class="overview" id="localityOverviewTable" template-pagination="pollingPagination" ng-table="localityOverviewTableParams" class="associations">
      <tr id="locality-overview{{$index}}" ng-repeat="overview in feedLocalityOverview">
        <td data-title="'Element Type'" id="locality-overview-element-type{{$index}}" class="element-type"><span data-title-text="Element Type">{{overview.info.elementType}}</span></td>
        <td data-title="'Amount'" id="locality-overview-amount{{$index}}" class="numeric amount"><span data-title-text="Amount">{{overview.info.count | number}}</span></td>
        <td data-title="'Completion'" id="locality-overview-complete{{$index}}" class="completion">
          <div data-title-text="Completion" class="completeness">
            <span class="complete-{{overview | errorCompletion}}"></span>
            <div class="counter">{{overview | errorCompletion}}% <span class="counter-text">complete</span></div>
          </div>
        </td>
        <td data-title="'Errors'" id="locality-overview-errors{{$index}}" class="numeric element-errors">
          <a data-title-text="Errors" title="View the Errors" ng-class="{default_pointer: overview.info.count===0}" href="{{overview.errors.count===0 ? 'javascript: void(0);' : overview.info.link}}">
            <div errorvalue="{{overview.errors.count}}" ng-class="{none: overview.errors.count===0}"
                  class="errors">{{overview.errors.count | number}} <span class="error-text" ng-if="overview.errors.count===1">error</span><span class="error-text" ng-if="overview.errors.count!=1">errors</span> <span ng-if="overview.errors.count===0"><i class="fi-check"></i></span><span ng-if="overview.errors.count!=0"><i class="fi-alert"></i></span>
            </div>
          </a>
        </td>
      </tr>
    </table>
  </section>
</section>

<section class="data-group data-module">
  <h2>{{feedEarlyVoteSites.length}} Early Vote Sites</h2>

  <span ng-if="!feedEarlyVoteSites" class="is-loading"></span>
  <table ng-show="feedEarlyVoteSites.length" id="earlyVoteTable" ng-table="earlyVoteTable" template-pagination="earlyVotePagination" class="associations">
    <tr id="earlyVoteSite{{$index}}" ng-repeat="earlyVoteSite in $data">
      <td id="earlyVoteSite-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="#/feeds/{{vipfeed}}/election/state/earlyvotesites/{{earlyVoteSite.id}}" data-title-text="ID"><span class="td-text">{{earlyVoteSite.id}}</span></a></td>
      <td id="earlyVoteSite-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="#/feeds/{{vipfeed}}/election/state/earlyvotesites/{{earlyVoteSite.id}}" data-title-text="Name"><span class="td-text">{{earlyVoteSite.name}}</span></a></td>
      <td id="earlyVoteSite-address{{$index}}" data-title="'Address'" sortable="'address_city'"><a href="#/feeds/{{vipfeed}}/election/state/earlyvotesites/{{earlyVoteSite.id}}" data-title-text="Address"><span class="td-text">{{earlyVoteSite.address_city | addComma}} {{earlyVoteSite.address_state}} {{earlyVoteSite.address_zip}}</span></a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="earlyVotePagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="evsPage{{$index}}" ng-class="{'is-active': page.number == earlyVoteTable.page()}" ng-click="earlyVoteTable.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>

<section class="data-group data-module">
  <h2><span ng-if="!feedElectionAdministration">No</span> Election Administration</h2>

  <span ng-if="!feedLocality" class="is-loading"></span>
  <table class="associations" ng-if="feedElectionAdministration">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id="locality-administration-id" class="id"><a href="{{$location.absUrl()}}/electionadministration" data-title-text="ID"><span class="td-text">{{feedElectionAdministration.id}}</span></a></td>
      <td id="locality-administration-name" class="name"><a href="{{$location.absUrl()}}/electionadministration" data-title-text="name"><span class="td-text">{{feedElectionAdministration.name}}</span></a></td>
      <td id="locality-administration-address" class="address"><a href="{{$location.absUrl()}}/electionadministration" data-title-text="address"><span class="td-text">{{feedElectionAdministration.physical_address_city | addComma}} {{feedElectionAdministration.physical_address_state}} {{feedElectionAdministration.physical_address_zip}}</span></a></td>
    </tr>
    </tbody>
  </table>
</section>

<section class="data-group data-module">
  <h2>{{feedPrecincts.length}} Precincts</h2>
  <span ng-if="!feedPrecincts" class="is-loading"></span>
  <table ng-show="feedPrecincts.length" id="precinctsTable" ng-table="precinctsTableParams" template-pagination="precinctsPagination" class="associations">
    <tr id="precinct{{$index}}" ng-repeat="precinct in $data">
      <td id="precinct-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/precincts/{{precinct.id}}" data-title-text="ID"><span class="td-text">{{precinct.id}}</span></a></td>
      <td id="precinct-type{{$index}}" data-title="'Name'" sortable="'name'"><a href="{{$location.absUrl()}}/precincts/{{precinct.id}}" data-title-text="Name"><span class="td-text">{{precinct.name}}</span></a></td>
      <td id="precinct-office{{$index}}" data-title="'Precinct Splits'" sortable="'precinct_splits'"><a href="{{$location.absUrl()}}/precincts/{{precinct.id}}" data-title-text="Precinct Splits"><span class="td-text">{{precinct.precinct_splits}}</span></a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="precinctsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == precinctsTableParams.page()}" ng-click="precinctsTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>

</section>
