<i id="feed-contests-content"></i>

<section class="data-group">

  <div ng-if="!feedContests"></br><span class="is-loading"></span></div>
  <table ng-show="feedContests.length" id="ContestsTable" ng-table="contestsTableParams" template-pagination="contestsPagination" class="associations">
    <tr id="contests{{$index}}" ng-repeat="contest in $data">
      <td id="contests-id{{$index}}" class="id" data-title="'ID'" sortable="'id'"><a href="#">{{contest.id}}</a></td>
      <td id="contests-type{{$index}}" class="type" data-title="'Type'" sortable="'type'"><a href="#">{{contest.type}}</a></td>
      <td id="contests-office{{$index}}" data-title="'Office / Referendum / Custom'" sortable="'title'"><a href="#">{{contest.title}}</a>
    </tr>
  </table>

  <script type="text/ng-template" id="contestsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="contestsPage{{$index}}" ng-class="{'is-active': page.number == contestsTableParams.page()}" ng-click="contestsTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>

</section>