<i id="feed-contest-content"></i>

<a ng-if="feedContest.error_count" class="error-count" href="#">{{feedContest.error_count}}
  Errors in Contest ID: {{feedContest.id}}</a>
<mark>link</mark>

<span ng-if="!feedContest" class="is-loading"></span>
<dl class="attributes" ng-if="feedContest">
  <dt class="key">Type:</dt> <dd id="contest-type" class="value">{{feedContest.type}}</dd>
  <dt class="key">Partisan:</dt> <dd id="contest-partisan" class="value">{{feedContest.partisan}}</dd>
  <dt class="key">Primary Party:</dt> <dd id="contest-party" class="value">{{feedContest.primary_party}}</dd>
  <dt class="key">Electorate Specifications:</dt> <dd id="contest-electorate" class="value">{{feedContest.electorate_specifications}}</dd>
  <dt class="key">Special:</dt> <dd id="contest-special" class="value">{{feedContest.special}}</dd>
  <dt class="key">Office:</dt> <dd id="contest-Office" class="value">{{feedContest.office}}</dd>
  <dt class="key">Filing Closed Date:</dt> <dd id="contest-closed" class="value">{{feedContest.filing_closed_date}}</dd>
  <dt class="key">Number Elected:</dt> <dd id="contest-elected" class="value">{{feedContest.number_elected}}</dd>
  <dt class="key">Number Voting For:</dt> <dd id="contest-votingFor" class="value">{{feedContest.number_voting_for}}</dd>
  <dt class="key">Ballot Placement:</dt> <dd id="contest-ballot" class="value">{{feedContest.ballot_placement}}</dd>
</dl>

<section class="data-group overview">
  <h1><mark>Overview</mark></h1>

  <!-- element table directive -->
  <div ng-show="feedContest.overview.length" ng-elementtable ng-model="feedContest.overview" loading="feedContest.overview" label="contestOverview"></div>

</section>

<section class="data-group">

  <h2>Ballot</h2>
  <table ng-show="feedBallot" id="ballotTable" class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Referendums</th>
        <th>Candidates</th>
      </tr>
    </thead>
    <tbod>
      <tr>
        <td id="ballot-id"><a href="{{$location.absUrl()}}/{{feedBallot.id}}">{{feedBallot.id}}</a></td>
        <td id="ballot-referendums"><a href="{{$location.absUrl()}}/{{feedBallot.id}}">{{feedBallot.referendums}}</a></td>
        <td id="ballot-candidates"><a href="{{$location.absUrl()}}/{{feedBallot.id}}">{{feedBallot.candidates}}</a></td>
      </tr>
    </tbod>
  </table>
</section>

<section class="data-group">
  <h4><span ng-if="!feedContest.electoral_district">No </span>Electoral District</h4>

  <div ng-if="!feedContest.electoral_district"></br><span class="is-loading"></span></div>
  <table ng-show="feedContest.electoral_district" id="districtTable" class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Precincts</th>
        <th>Precinct Splits</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td class="id"><a href="{{$location.absUrl()}}/electoraldistrict/{{feedContest.electoral_district.id}}">{{feedContest.electoral_district.id}}</a></td>
      <td class="name"><a href="{{$location.absUrl()}}/electoraldistrict/{{feedContest.electoral_district.id}}">{{feedContest.electoral_district.name}}</a></td>
      <td class="contests"><a href="{{$location.absUrl()}}/electoraldistrict/{{feedContest.electoral_district.id}}">{{feedContest.electoral_district.precincts}}</a></td>
      <td class="contests"><a href="{{$location.absUrl()}}/electoraldistrict/{{feedContest.electoral_district.id}}">{{feedContest.electoral_district.precinct_splits}}</a></td>
    </tr>
    </tbody>
  </table>
</section>

<section class="data-group">
  <h5><span ng-if="!feedContest.contest_results">No</span> Contest Results</h5>

  <div ng-if="!feedContest.contest_results && feedContest.contest_results !== null"></br><span class="is-loading"></span></div>
  <table ng-show="feedContest.contest_results" id="contestResultsTable" class="associations" >
    <thead>
      <tr>
        <th>ID</th>
        <th>Votes</th>
        <th>Valid Votes</th>
        <th>Overvotes</th>
        <th>Blank Votes</th>
        <th>Certification</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="contestresult-id"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{feedContest.contest_results.id}}</a></td>
        <td id="contestresult-votes"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{feedContest.contest_results.votes}}</a></td>
        <td id="contestresult-validvotes"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{feedContest.contest_results.valid_votes}}</a></td>
        <td id="contestresult-overvotes"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{feedContest.contest_results.overvotes}}</a></td>
        <td id="contestresult-blankvotes"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{feedContest.contest_results.blank_votes}}</a></td>
        <td id="contestresult-certification"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{feedContest.contest_results.certification}}</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="data-group">
  <h5>{{feedContest.ballot_line_results.length}} Ballot Line Results</h5>

  <div ng-if="!feedContest.ballot_line_results"></br><span class="is-loading"></span></div>
  <table ng-show="feedContest.ballot_line_results.length" id="ballotLineResultTable" ng-table="ballotLineResultTableParams" template-pagination="ballotLineResultPagination"  class="associations">
    <tr id="ballotlineresult{{$index}}" ng-repeat="result in $data">
      <td id="ballotlineresult-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/ballotlineresults/{{result.id}}">{{result.id}}</a></td>
      <td id="ballotlineresult-votes{{$index}}" data-title="'Votes'" sortable="'votes'"><a href="{{$location.absUrl()}}/ballotlineresults/{{fresult.id}}">{{result.votes}}</a></td>
      <td id="ballotlineresult-certification{{$index}}" data-title="'Certification'" sortable="'certification'"><a href="{{$location.absUrl()}}/ballotlineresults/{{result.id}}">{{result.certification}}</a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="ballotLineResultPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="ballotPage{{$index}}" ng-class="{'is-active': page.number == ballotLineResultTableParams.page()}"
           ng-click="ballotLineResultTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>