<i id="feed-contest-content"></i>

<a ng-if="feedContest.error_count" class="error-count" href="#">{{feedContest.error_count}}
  Errors in Contest ID: {{feedContest.id}}</a>
<mark>link</mark>

<span ng-if="!feedContest" class="is-loading"></span>
<dl class="attributes" ng-if="feedContest">
  <dt class="key">Type:</dt> <dd id="contest-type" class="value">{{feedContest.type}}</dd>
  <dt class="key">Partisan:</dt> <dd id="contest-partisan" class="value">{{feedContest.partisan}}</dd>
  <dt class="key">Primary Party:</dt> <dd id="contest-party" class="value">{{feedContest.primary_party}}</dd>
  <dt class="key">Electorate Specifications:</dt> <dd id="contest-electorate" class="value">{{feedContest.electorate_specifications}}</dd>
  <dt class="key">Special:</dt> <dd id="contest-special" class="value">{{feedContest.special}}</dd>
  <dt class="key">Office:</dt> <dd id="contest-Office" class="value">{{feedContest.office}}</dd>
  <dt class="key">Filing Closed Date:</dt> <dd id="contest-closed" class="value">{{feedContest.filing_closed_date}}</dd>
  <dt class="key">Number Elected:</dt> <dd id="contest-elected" class="value">{{feedContest.number_elected}}</dd>
  <dt class="key">Number Voting For:</dt> <dd id="contest-votingFor" class="value">{{feedContest.number_voting_for}}</dd>
  <dt class="key">Ballot Placement:</dt> <dd id="contest-ballot" class="value">{{feedContest.ballot_placement}}</dd>
</dl>

<section class="data-group overview">
  <h1>Overview</h1>

  <!-- element table directive -->
  <div ng-show="feedContest.overview.length" ng-elementtable ng-model="feedContest.overview" loading="feedContest.overview" label="contestOverview"></div>

</section>

<section class="data-group">
  <h2>Ballot ID: {{feedBallot.id}}</h2>

  <dl class="attributes" ng-if="feedBallot">
    <dt class="key">Sort Order:</dt> <dd id="ballot-order" class="value">{{feedBallot.sort_order}}</dd>
    <dt class="key">Write In:</dt> <dd id="ballot-writeIn" class="value">{{feedBallot.write_in}}</dd>
    <dt class="key">Image Url:</dt> <dd id="ballot-url" class="value">{{feedBallot.image_url}}</dd>
  </dl>
</section>

<section class="data-group">
  <h3><span ng-if="feedCandidates">{{feedCandidates.length}}</span> Candidates</h3>

  <div ng-if="!feedCandidates"></br><span class="is-loading"></span></div>
  <table ng-show="feedCandidates.length" id="contestsTable" ng-table="candidateTableParams" template-pagination="candidatePagination" class="associations">
    <tr id="candidate{{$index}}" ng-repeat="candidate in $data">
      <td id="candidate-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/candidates/{{candidate.id}}">{{candidate.id}}</a></td>
      <td id="candidate-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="{{$location.absUrl()}}/candidates/{{candidate.id}}">{{candidate.name}}</a></td>
      <td id="candidate-party{{$index}}" data-title="'Party'" sortable="'party'"><a href="{{$location.absUrl()}}/candidates/{{candidate.id}}">{{candidate.party}}</a>
      </td>
    </tr>
  </table>

  <script type="text/ng-template" id="candidatePagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="ballotPage{{$index}}" ng-class="{'is-active': page.number == candidateTableParams.page()}"
           ng-click="candidateTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>

<section class="data-group">
  <h4><span ng-if="!feedContest.electoral_district">No </span>Electoral District</h4>

  <div ng-if="!feedContest"></br><span class="is-loading"></span></div>
  <table ng-show="feedContest.electoral_district" id="districtTable" class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Precincts</th>
        <th>Precinct Splits</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td class="id"><a href="{{$location.absUrl()}}/electoraldistrict/{{feedContest.electoral_district.id}}">{{feedContest.electoral_district.id}}</a></td>
      <td class="name"><a href="{{$location.absUrl()}}/electoraldistrict/{{feedContest.electoral_district.id}}">{{feedContest.electoral_district.name}}</a></td>
      <td class="contests"><a href="{{$location.absUrl()}}/electoraldistrict/{{feedContest.electoral_district.id}}">{{feedContest.electoral_district.precincts}}</a></td>
      <td class="contests"><a href="{{$location.absUrl()}}/electoraldistrict/{{feedContest.electoral_district.id}}">{{feedContest.electoral_district.precinct_splits}}</a></td>
    </tr>
    </tbody>
  </table>
</section>

<section class="data-group">
  <h5>{{feedContestResults.length}} Contest Results</h5>

  <div ng-if="!feedContestResults"></br><span class="is-loading"></span></div>
  <table ng-show="feedContestResults.length" id="contestResultsTable" ng-table="contestResultTableParams" template-pagination="contestResultPagination"  class="associations">
    <tr id="contestResult{{$index}}" ng-repeat="result in $data">
      <td id="contestresult-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{result.id}}</a></td>
      <td id="contestresult-votes{{$index}}" data-title="'Votes'" sortable="'votes'"><a href="{{$location.absUrl()}}/contestresults/{{fresult.id}}">{{result.votes}}</a></td>
      <td id="contestresult-validvotes{{$index}}" data-title="'Valid Votes'" sortable="'valid_votes'"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{result.valid_votes}}</a></td>
      <td id="contestresult-overvotes{{$index}}" data-title="'Overvotes'" sortable="'overvotes'"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{result.overvotes}}</a></td>
      <td id="contestresult-blankvotes{{$index}}" data-title="'Blank Votes'" sortable="'blank_votes'"><a href="{{$location.absUrl()}}/contestresults/{{result.id}}">{{result.blank_votes}}</a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="contestResultPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="ballotPage{{$index}}" ng-class="{'is-active': page.number == contestResultTableParams.page()}"
           ng-click="contestResultTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>

<section class="data-group">
  <h5>{{feedBallotLineResults.length}} Ballot Line Results</h5>

  <div ng-if="!feedBallotLineResults"></br><span class="is-loading"></span></div>
  <table ng-show="feedBallotLineResults.length" id="ballotLineResultTable" ng-table="ballotLineResultTableParams" template-pagination="ballotLineResultPagination"  class="associations">
    <tr id="ballotlineresult{{$index}}" ng-repeat="result in $data">
      <td id="ballotlineresult-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/ballotlineresults/{{result.id}}">{{result.id}}</a></td>
      <td id="ballotlineresult-votes{{$index}}" data-title="'Votes'" sortable="'votes'"><a href="{{$location.absUrl()}}/ballotlineresults/{{fresult.id}}">{{result.votes}}</a></td>
      <td id="ballotlineresult-victorious{{$index}}" data-title="'Victorious'" sortable="'victorious'"><a href="{{$location.absUrl()}}/ballotlineresults/{{result.id}}">{{result.victorious}}</a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="ballotLineResultPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="ballotPage{{$index}}" ng-class="{'is-active': page.number == ballotLineResultTableParams.page()}"
           ng-click="ballotLineResultTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>