<i id="feed-overview-content"></i>

<section class="data-group data-module finished">
  <header class="data-group-header">
    <h2>Source</h2>
    <span ng-if="!feedData" class="more-detail is-loading"></span>
    <a id="source-link" ng-if="feedData.source" class="more-detail" href="{{$location.absUrl()}}/source">More Detail</a>
  </header>
</section>
<!-- /.data-group -->

<section class="data-group data-module finished">
  <header class="data-group-header">
    <h2>Election</h2>
    <span ng-if="!feedData" class="more-detail is-loading"></span>
    <a id="election-link" ng-if="feedData.election" class="more-detail" href="{{$location.absUrl()}}/election">More Detail</a>
  </header>
</section>
<!-- /.data-group -->

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>Polling Locations</h2>
    <span ng-if="!feedPollingLocations" class="more-detail is-loading"></span>
    <a id="state-link" ng-if="feedPollingLocations" class="more-detail" href="{{$location.absUrl()}}/election/state">More Detail</a>
  </header>

  <!-- element table directive -->
  <span ng-if="!feedPollingLocations" class="is-loading"></span>
  <div ng-show="feedPollingLocations.length" ng-overviewtable ng-model="feedPollingLocations" loading="feedPollingLocations" label="pollingLocation"></div>

</section>
<!-- /.data-group -->

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>{{feedLocalities.length}} Localities
    <small>({{feedCounties.features.length}} Counties)</small></h2>
    <span ng-if="!feedCounties" class="is-loading"></span>
    <a class="more-detail" href="{{$location.absUrl()}}/election/state/localities/">More Detail</a>
  </header>

  <!-- element table directive -->
  <div id="map" class="map" hidden></div>

</section>
<!-- /.data-group -->

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>Contests</h2>
    <span ng-if="!feedContests" class="more-detail is-loading"></span>
    <a class="more-detail" ng-if="feedContests" href="{{$location.absUrl()}}/election/contests">More Detail</a>
  </header>

  <!-- element table directive -->
  <span ng-if="!feedContests" class="is-loading"></span>
  <div ng-show="feedContests.length" ng-overviewtable ng-model="feedContests" loading="feedContests" label="feedContests"></div>

</section>
<!-- /.data-group -->

<section class="data-group data-module unstarted">
  <header class="data-group-header">
    <h2>Results</h2>
    <span ng-if="!feedResults" class="more-detail is-loading"></span>
    <a id="results-link" ng-if="feedResults" class="more-detail" href="{{$location.absUrl()}}/election/results">More Detail</a>
  </header>

  <!-- element table directive -->
  <span ng-if="!feedResults" class="is-loading"></span>
  <div ng-show="feedResults.length" ng-overviewtable ng-model="feedResults" loading="feedResults" label="feedResults"></div>

</section>
<!-- /.data-group -->
