<i id="feed-state-electionadministration-content"></i>

<a ng-if="feedElectionAdministration.error_count" class="error-count" href="/feeds/vipfeed-37-2012-11-06-2/election/state/errors">{{feedElectionAdministration.error_count}} Errors in Election Administration ID: {{feedElectionAdministration.id}}</a> <mark>link</mark>

<span ng-if="!feedElectionAdministration" class="is-loading"></span>
<dl class="attributes">
  <dt class="key">Name:</dt>
  <dd class="value">{{feedElectionAdministration.name}}</dd>
  <dt class="key">Physical Address:</dt>
  <dd class="value">
    {{feedElectionAdministration.physical_address.line1}},
    {{feedElectionAdministration.physical_address.city}},
    {{feedElectionAdministration.physical_address.state}} {{feedElectionAdministration.physical_address.zip}}</dd>
  <dt class="key">Mailing Address:</dt>
  <dd class="value">
    {{feedElectionAdministration.mailing_address.line1}},
    {{feedElectionAdministration.mailing_address.city}},
    {{feedElectionAdministration.mailing_address.state}} {{feedElectionAdministration.mailing_address.zip}}</dd>
  </dd>
  <dt class="key">Phone:</dt>
  <dd class="value">{{feedElectionAdministration.phone}}</dd>
  <dt class="key">Email:</dt>
  <dd class="value">{{feedElectionAdministration.email}}</dd>
  <dt class="key">Elections URL:</dt>
  <dd class="value"><a target="_blank" href="h{{feedElectionAdministration.elections_url}}">{{feedElectionAdministration.elections_url}}</a></dd>
  <dt class="key">Registration URL:</dt>
  <dd class="value"><a target="_blank" href="{{feedElectionAdministration.registration_url}}">{{feedElectionAdministration.registration_url}}</a></dd>
  <dt class="key">Am I Registered URL:</dt>
  <dd class="value"><a target="_blank" href="{{feedElectionAdministration.am_i_registered_url}}">{{feedElectionAdministration.am_i_registered_url}}</a></dd>
  <dt class="key">Absentee URL:</dt>
  <dd class="value"><a target="_blank" href="{{feedElectionAdministration.absentee_url}}">{{feedElectionAdministration.absentee_url}}</a></dd>
  <dt class="key">Where Do I Vote URL:</dt>
  <dd class="value"><a target="_blank" href="{{feedElectionAdministration.where_do_i_vote_url}}">{{feedElectionAdministration.where_do_i_vote_url}}</a></dd>
  <dt class="key">What Is On My Ballot URL:</dt>
  <dd class="value"><a target="_blank" href="{{feedElectionAdministration.what_is_on_my_ballot_url}}">{{feedElectionAdministration.what_is_on_my_ballot_url}}</a></dd>
  <dt class="key">Rules URL:</dt>
  <dd class="value"><a target="_blank" href="{{feedElectionAdministration.rules_url}}">{{feedElectionAdministration.rules_url}}</a></dd>
  <dt class="key">Voter Services:</dt>
  <dd class="value">{{feedElectionAdministration.voter_services}}</dd>
  <dt class="key">Hours:</dt>
  <dd class="value">{{feedElectionAdministration.hours}}</dd>
</dl>

<section class="data-group">
  <h2>Election Official</h2>

  <span ng-if="!feedElectionAdministration" class="is-loading"></span>
  <dl ng-if="feedElectionAdministration.election_official" class="attributes">
    <dt class="key">Name:</dt>
    <dd class="value">{{feedElectionAdministration.election_official.name}}</dd>
    <dt class="key">Title:</dt>
    <dd class="value">{{feedElectionAdministration.election_official.title}}</dd>
    <dt class="key">Phone:</dt>
    <dd class="value">{{feedElectionAdministration.election_official.phone}}<dd>
    <dt class="key">Fax:</dt>
    <dd class="value">{{feedElectionAdministration.election_official.fax}}<dd>
    <dt class="key">Email:</dt>
    <dd class="value"><a href="mailto:{{feedElectionAdministration.election_official.email}}">{{feedElectionAdministration.election_official.email}}</a></dd>
  </dl>
</section>

<section class="data-group">
  <h2>Overseas Voter Contact</h2>

  <span ng-if="!feedElectionAdministration" class="is-loading"></span>
  <dl ng-if="feedElectionAdministration.overseas_voter_contact" class="attributes">
    <dl class="attributes">
      <dt class="key">Name:</dt>
      <dd class="value">{{feedElectionAdministration.overseas_voter_contact.name}}</dd>
      <dt class="key">Title:</dt>
      <dd class="value">{{feedElectionAdministration.overseas_voter_contact.title}}</dd>
      <dt class="key">Phone:</dt>
      <dd class="value">{{feedElectionAdministration.overseas_voter_contact.phone}}<dd>
      <dt class="key">Fax:</dt>
      <dd class="value">{{feedElectionAdministration.overseas_voter_contact.fax}}<dd>
      <dt class="key">Email:</dt>
      <dd class="value"><a href="mailto:{{feedElectionAdministration.overseas_voter_contact.email}}">{{feedElectionAdministration.overseas_voter_contact.email}}</a></dd>
    </dl>
</section>