
<div class="alert-box processing" ng-if="isProcessing">
  One or more Feeds are processing. Please <a href="/">Refresh</a> this page for an update. <small>(Page will automatically refresh after a minute.)</small>
</div>

<div class="data-module data-module-full">
<h2>Active Feeds</h2>

<span ng-if="!feeds" class="is-loading"></span>
<table id="feedsTable" ng-table="feedTableParams" template-pagination="feedsPagination" class="associations">
  <tr id="feedIndex{{$index}}" ng-repeat="feed in feeds">
    <td id="date{{$index}}" data-title="'Date'" sortable="'date'" >
      <a ng-class="{'disabled-row': !feed.complete && !feed.end_time, 'disabled-row-failed': !feed.complete && feed.end_time}" href="#/feeds/{{feed.public_id}}" data-title-text="Date"><span class="td-text">
      {{feed.election_date.slice(0,10) | date:'longDate'}}
      <span ng-if="!feed.election_date">&nbsp;</span>
      </span></a>
    </td>
    <td id="state{{$index}}" data-title="'State'" sortable="'state'">
      <a ng-class="{'disabled-row': !feed.complete && !feed.end_time, 'disabled-row-failed': !feed.complete && feed.end_time}" href="#/feeds/{{feed.public_id}}" data-title-text="State"><span class="td-text">
      {{feed.state}}
      <span ng-if="!feed.state">&nbsp;</span>
      </span></a>
    </td>
    <td id="type{{$index}}" data-title="'Type'" sortable="'type'">
      <a ng-class="{'disabled-row': !feed.complete && !feed.end_time, 'disabled-row-failed': !feed.complete && feed.end_time}" href="#/feeds/{{feed.public_id}}" data-title-text="Type"><span class="td-text">
      {{feed.election_type}}
      <span ng-if="!feed.election_type">&nbsp;</span>
      </span></a>
    </td>
    <td id="status{{$index}}" data-title="'Status'" sortable="'status'">
      <a ng-class="{'disabled-row': !feed.complete && !feed.end_time, 'disabled-row-failed': !feed.complete && feed.end_time}" href="#/feeds/{{feed.public_id}}" data-title-text="Status"><span class="is-loading-small" ng-show="!feed.complete && !feed.end_time"></span><i ng-if="feed.failed" class="fi-prohibited"></i>
      <span ng-if="feed.complete" class="td-text">Complete <small>({{formatDuration(feed.duration)}})</small></span>
      <span ng-if="!feed.complete && feed.end_time">Processing Failed</span>
      </a>
    </td>
    <td data-title="'Due'" sortable="'due'">
      <a ng-class="{'disabled-row': !feed.complete && !feed.end_time, 'disabled-row-failed': !feed.complete && feed.end_time}" href="#/feeds/{{feed.public_id}}" data-title-text="Due"><span class="td-text">
      {{feed.due_on | date:'longDate'}}
      <span ng-if="!feed.due_on">&nbsp;</span>
      </span></a>
    </td>
    <td data-title="'Loaded On'" sortable="'date_loaded'">
      <a ng-class="{'disabled-row': !feed.complete && !feed.end_time, 'disabled-row-failed': !feed.complete && feed.end_time}" href="#/feeds/{{feed.public_id}}" data-title-text="Loaded On"><span class="td-text">
      {{feed.start_time.slice(0,10) | date:'longDate'}}
      <span ng-if="!feed.start_time">&nbsp;</span>
      </span></a>
    </td>
  </tr>
  <tr ng-if="feeds.length === 0">
    <td colspan="6"><p style="padding: 1em;">No Feeds Found</p></td>
  </tr>
</table>

<script type="text/ng-template" id="feedsPagination">
  <ul class="pagination ng-cloak">
    <li ng-repeat="page in pages"
        ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
      <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == tableParams.page()}"
         ng-click="feedTableParams.page(page.number)" href="">{{page.number}}</a>
    </li>
  </ul>
</script>
</div>

<div ng-show="feedQueue.length > 0" class="data-module data-module-full">
  <h2 class="secondary">Feeds in Queue For Processing <a style="font-weight: bold; color: orange; font-size: 13px" href="/">(Click to Refresh List)</a></h2>

  <span ng-if="!feeds" class="is-loading"></span>
  <table>
    <thead>
    <tr>
      <th width="30%">File Name</th>
      <th>S3 Bucket Name</th>
    </tr>
    </thead>
    <tr id="feedQueue{{$index}}" ng-repeat="feedQ in feedQueue">
      <td id="feedQeueue_filename{{$index}}">
        {{feedQ.filename}}
      </td>
      <td id="feedQeueue_s3bucket{{$index}}">
        {{feedQ.s3Bucket}}
      </td>
    </tr>
  </table>

</div>
