<i id="{{pageId}}"></i>

<p ng-if="feedElectoralDistrict.error_count !== undefined"><a id="electoraldistrict-errors" class="error-count error-count-{{feedElectoralDistrict.error_count}}" href="{{$location.absUrl()}}/errors">{{feedElectoralDistrict.error_count}} Errors in Electoral District ID: {{feedElectoralDistrict.id}}</a></p>

<div class="data-module-full">
  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd id="name" class="value">{{feedElectoralDistrict.name}}</dd>
    <dt class="key">Type:</dt>
    <dd id="type" class="value">{{feedElectoralDistrict.type}}</dd>
    <dt class="key">Number:</dt>
    <dd id="number" class="value">{{feedElectoralDistrict.number}}</dd>
  </dl>
</div>

<section class="data-group data-module">
  <h2><span ng-if="feedContests.length!=='0'">{{feedContests.length}}</span> Contest</h2>

  <div ng-if="!feedContests.length"></br><span class="is-loading"></span></div>
  <table id="contestsTable" ng-table="contestsTableParams" template-pagination="contestsPagination" class="associations">
    <tr id="contests{{$index}}" ng-repeat="contest in feedContests">
      <td id="contests-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="/#/feeds/{{vipfeed}}/election/contests/{{contest.id}}" data-title-text="ID"><span class="td-text">{{contest.id}}</span></a></td>
      <td id="contests-type{{$index}}" data-title="'Type'" sortable="'type'"><a href="/#/feeds/{{vipfeed}}/election/contests/{{contest.id}}" data-title-text="Type"><span class="td-text">{{contest.type}}</span></a></td>
      <td id="contests-office{{$index}}" data-title="'Office / Referendum / Custom'" sortable="'Office / Referendum / Custom'"><a href="/#/feeds/{{vipfeed}}/election/contests/{{contest.id}}" data-title-text="ID"><span class="td-text">{{contest.office}}</span></a>
      </td>
    </tr>
  </table>

  <script type="text/ng-template" id="contestsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == contestsTableParams.page()}"
           ng-click="contestsTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>

</section>


<section class="data-group data-module">
  <h2>{{feedPrecincts.length}} Precincts</h2>

  <span ng-if="!feedElectoralDistrict" class="is-loading"></span>
  <table ng-show="feedPrecincts.length" id="precinctsTable" ng-table="precinctsTableParams" template-pagination="precinctsPagination" class="associations">
    <tr id="precinct{{$index}}" ng-repeat="precinct in $data">
      <td id="precinct-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="/#/feeds/{{vipfeed}}/election/state/localities/{{precinct.locality_id}}/precincts/{{precinct.id}}" data-title-text="ID"><span class="td-text">{{precinct.id}}</span></a></td>
      <td id="precinct-type{{$index}}" data-title="'Name'" sortable="'name'"><a href="/#/feeds/{{vipfeed}}/election/state/localities/{{precinct.locality_id}}/precincts/{{precinct.id}}" data-title-text="Name"><span class="td-text">{{precinct.name}}</span></a></td>
      <td id="precinct-office{{$index}}" data-title="'Precinct Splits'" sortable="'precinct_splits'"><a href="/#/feeds/{{vipfeed}}/election/state/localities/{{precinct.locality_id}}/precincts/{{precinct.id}}" data-title-text="Precinct Splits"><span class="td-text">{{precinct.precinct_splits}}</span></a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="precinctsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == precinctsTableParams.page()}" ng-click="precinctsTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>

</section>


<section class="data-group data-module">
  <h2>{{feedPrecinctSplits.length}} Precinct Splits</h2>

  <table ng-show="feedPrecinctSplits.length" id="precinctSplitsTable" ng-table="precinctSplitsTableParams" template-pagination="precinctSplitsPagination" class="associations">
    <tr id="precinctSplit{{$index}}" ng-repeat="precinctSplit in feedPrecinctSplits">
      <td id="precinctSplit-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="/#/feeds/{{vipfeed}}/election/state/localities/{{precinctSplit.locality_id}}/precincts/{{precinctSplit.precinct_id}}/precinctsplits/{{precinctSplit.id}}" data-title-text="ID"><span class="td-text">{{precinctSplit.id}}</span></a></td>
      <td id="precinctSplit-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="/#/feeds/{{vipfeed}}/election/state/localities/{{precinctSplit.locality_id}}/precincts/{{precinctSplit.precinct_id}}/precinctsplits/{{precinctSplit.id}}" data-title-text="Name"><span class="td-text">{{precinctSplit.name}}</span></a></td>
      <td id="precinctSplit-streetsegments{{$index}}" data-title="'Street Segments'" sortable="'street_segments'"><a href="/#/feeds/{{vipfeed}}/election/state/localities/{{precinctSplit.locality_id}}/precincts/{{precinctSplit.precinct_id}}/precinctsplits/{{precinctSplit.id}}" data-title-text="Street Segments"><span class="td-text">{{precinctSplit.street_segments}}</span></a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="precinctSplitsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == precinctSplitsTableParams.page()}" ng-click="precinctSplitsTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>

</section>