<h2>Active Feeds</h2>

<table id="feedsTable" ng-table="feedTableParams" template-pagination="feedsPagination" class="associations">
  <tr id="feedIndex{{$index}}" ng-repeat="feed in $data">
    <td id="date{{$index}}" data-title="'Date'" sortable="'date'"><a href="{{$location.absUrl()}}/{{feed.id}}">{{feed.date}}</a></td>
    <td id="state{{$index}}" data-title="'State'" sortable="'state'"><a href="{{$location.absUrl()}}/{{feed.id}}">{{feed.state}}</a></td>
    <td id="type{{$index}}" data-title="'Type'" sortable="'type'"><a href="{{$location.absUrl()}}/{{feed.id}}">{{feed.type}}</a></td>
    <td id="status{{$index}}" data-title="'Status'" sortable="'status'"><a href="{{$location.absUrl()}}/{{feed.id}}">{{feed.status}}</a></td>
    <!-- relative date 6 weeks before election date -->
    <td data-title="'Due'" sortable="'due'"><a href="{{$location.absUrl()}}/{{feed.id}}">42 days</a></td>
    <!-- TODO: Column only accessible to admins -->
    <td class="admin"><a href="{{$location.absUrl()}}/{{feed.id}}">Delete</a></td>
  </tr>
  <tr ng-if="!feeds || feeds.length === 0">
    <td colspan="6">No Feeds Found</td>
  </tr>
</table>

<script type="text/ng-template" id="feedsPagination">
  <ul class="pagination ng-cloak">
    <li ng-repeat="page in pages"
        ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
      <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == tableParams.page()}" ng-click="tableParams.page(page.number)" href="">{{page.number}}</a>
    </li>
  </ul>
</script>

<h2>Expired Feeds</h2>
