<i id="{{pageId}}"></i>

<!-- error table directive -->
<div ng-show="errors.length" ng-error-table errors="errors" errors-table-params="errorsTableParams" toggle-error="toggleError" loading="errors"></div>

<section class="data-group">

  <span ng-if="!errors" class="is-loading"></span>
  <table ng-show="errors.length" id="errorsTable" ng-table="errorsTableParams" template-pagination="errorsPagination" class="associations">
    <tr id="error{{$index}}" ng-repeat-start="error in $data">
      <td width="10%" id="error-count{{$index}}" data-title="'Count'" sortable="'error_count'">
        <a ng-click="toggleError($index)">{{error.textual_references.length}}</a>
      </td>
      <td id="error-type{{$index}}" data-title="'Error Type'" sortable="'severityText'">
        <a ng-click="toggleError($index)">
          <b><span id="errorArrowClosed{{$index}}">&#9650;</span><span id="errorArrowOpen{{$index}}" hidden>&#9660;</span> {{error.severity_text}}:</b> {{error.title}}
          <br>
          <span style="color: black">{{error.details}}</span>
        </a>
      </td>
    </tr>
    <tr id="errorDetail{{$index}}" ng-repeat-end hidden style="background-color: #f2f2f2">
      <td></td>
      <td class="error-item" style="padding: 20px 0px; padding-right: 20px;">
        <div ng-repeat="textual_reference in error.textual_references">
          <div ng-if="error._code" style="background-color: #fbfbfb; border: 1px solid #cecece; padding: 10px"><pre><code>{{textual_reference}}</code></pre></div>
          <div ng-if="!error._code" style="background-color: #fbfbfb; border: 1px solid #cecece; padding: 10px">{{textual_reference}}</div>
          <button>Download Report</button>
          <br><br>
        </div>
      </td>
    </tr>
  </table>
  <button ng-show="errors.length">Download Full Report</button>

  <script type="text/ng-template" id="errorsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages" ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == errorsTableParams.page()}" ng-click="errorsTableParams.page(page.number)" href="">{{page.number}}</a>
    </ul>
  </script>

</section>