<i id="feed-contestresult-content"></i>

<a ng-if="feedContestResult.error_count" class="error-count" href="{{$location.absUrl()}}/errors">{{feedContestResult.error_count}}
  Errors in Contest Result ID: {{feedContestResult.id}}</a>

<dl class="attributes">
  <dt class="key">Entire District:</dt>
  <dd id="result-entiredistrict" class="value">{{feedContestResult.entire_district}}</dd>
  <dt class="key">Total Votes:</dt>
  <dd id="result-totalvotes" class="value">{{feedContestResult.total_votes}}</dd>
  <dt class="key">Total Valid Votes:</dt>
  <dd id="result-validvotes" class="value">{{feedContestResult.total_valid_votes}}</dd>
  <dt class="key">Overvotes:</dt>
  <dd id="result-overvotes" class="value">{{feedContestResult.overvotes}}</dd>
  <dt class="key">Blank Votes:</dt>
  <dd id="result-blankvotes" class="value">{{feedContestResult.blank_votes}}</dd>
  <dt class="key">Accepted Provisional Votes:</dt>
  <dd id="result-provisional" class="value">{{feedContestResult.accepted_provisional_votes}}</dd>
  <dt class="key">Rejected Votes:</dt>
  <dd id="result-rejectedvotes" class="value">{{feedContestResult.rejected_votes}}</dd>
  <dt class="key">Certification:</dt>
  <dd id="result-certification" class="value">{{feedContestResult.certification}}</dd>
</dl>

<section class="data-group">
  <h2><span ng-if="!feedContestResult.contest">No </span>Contest</h2>

  <div ng-if="!feedContestResult.contest"></br><span class="is-loading"></span></div>
  <table ng-show="feedContestResult.contest" id="contestTable" class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Office / Referendum / Custom</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="contest-id"><a href="{{feedContestResult.contest.self}}">{{feedContestResult.contest.id}}</a></td>
        <td id="contest-type"><a href="{{feedContestResult.contest.self}}">{{feedContestResult.contest.type}}</a></td>
        <td id="contest-office"><a href="{{feedContestResult.contest.self}}">{{feedContestResult.contest.office}}</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="data-group">
  <h2><span ng-if="!feedContestResult.jurisdiction">No </span>Jurisdiction</h2>

  <div ng-if="!feedContestResult.jurisdiction"></br><span class="is-loading"></span></div>
  <table ng-show="feedContestResult.jurisdiction" id="jurisdictionTable" class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="jurisdiction-id"><a href="{{feedContestResult.jurisdiction.self}}">{{feedContestResult.jurisdiction.id}}</a></td>
        <td id="jurisdiction-name"><a href="{{feedContestResult.jurisdiction.self}}">{{feedContestResult.jurisdiction.name}}</a></td>
      </tr>
    </tbody>
  </table>
</section>