<i id="{{pageId}}"></i>

<div class="data-group data-module data-module-full">
  <span ng-if="!feedEarlyVoteSites" class="is-loading"></span>
  <table ng-show="feedEarlyVoteSites.length" id="earlyVoteTable" ng-table="earlyVoteSitesTable"
         template-pagination="earlyVotePagination" class="associations">
    <tr id="earlyVoteSite{{$index}}" ng-repeat="earlyVoteSite in $data">
      <td id="earlyVoteSite-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/{{earlyVoteSite.id}}" data-title-text="ID"><span class="td-text">{{earlyVoteSite.id}}</span></a>
      </td>
      <td id="earlyVoteSite-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="{{$location.absUrl()}}/{{earlyVoteSite.id}}" data-title-text="Name"><span class="td-text">{{earlyVoteSite.name}}</span></a>
      </td>
      <td id="earlyVoteSite-address{{$index}}" data-title="'Address'" sortable="'city'"><a href="{{$location.absUrl()}}/{{earlyVoteSite.id}}" data-title-text="Address"><span class="td-text">{{earlyVoteSite.address_city | addComma}} {{earlyVoteSite.address_state}} {{earlyVoteSite.address_zip}}</span></a>
      </td>
    </tr>
  </table>

  <script type="text/ng-template" id="earlyVotePagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == earlyVoteSitesTable.page()}"
           ng-click="earlyVoteSitesTable.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>

</div>