<i id="feed-ballotlineresult-content"></i>

<p ng-if="feedBallotLineResult.error_count !== undefined"><a class="error-count error-count-{{feedBallotLineResult.error_count}}" href="{{$location.absUrl()}}/errors">{{feedBallotLineResult.error_count}}
  Errors In Ballot Line Result ID: {{feedBallotLineResult.id}}</a></p>

<span ng-if="!feedBallotLineResult" class="is-loading"></span>

<div class="data-module-full">
  <dl class="attributes" ng-if="feedBallotLineResult">
    <dt class="key">Votes:</dt> <dd id="ballotlineresult-votes" class="value">{{feedBallotLineResult.votes}}</dd>
    <dt class="key">Victorious:</dt> <dd id="ballotlineresult-victorious" class="value">{{feedBallotLineResult.victorious}}</dd>
    <dt class="key">Certification:</dt> <dd id="ballotlineresult-certification" class="value">{{feedBallotLineResult.certification}}</dd>
    <dt class="key">Vote Type:</dt> <dd id="ballotlineresult-votetype" class="value">{{feedBallotLineResult.vote_type}}</dd>
  </dl>
</div>

<section class="data-group data-module">
  <h2>Contest</h2>

  <span ng-if="!feedBallotLineResult" class="is-loading"></span>
  <table id="contestTable" class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Office / Referendum / Custom</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="contest-id"><a href="{{feedBallotLineResult.contest.self}}" data-title-text="ID"><span class="td-text">{{feedBallotLineResult.contest.id}}</span></a></td>
        <td id="contest-type"><a href="{{feedBallotLineResult.contest.self}}" data-title-text="Type"><span class="td-text">{{feedBallotLineResult.contest.type}}</span></a></td>
        <td id="contest-office"><a href="{{feedBallotLineResult.contest.self}}" data-title-text="Office / Referendum / Custom"><span class="td-text">{{feedBallotLineResult.contest.office}}</span></a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="data-group data-module">
  <h2>Jurisdiction</h2>

  <span ng-if="!feedBallotLineResult" class="is-loading"></span>
  <table id="jurisdictionTable" class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="jurisdiction-id"><a href="{{feedBallotLineResult.jurisdiction.self}}" data-title-text="ID"><span class="td-text">{{feedBallotLineResult.jurisdiction.id}}</span></a></td>
        <td id="jurisdiction-name"><a href="{{feedBallotLineResult.jurisdiction.self}}" data-title-text="Name"><span class="td-text">{{feedBallotLineResult.jurisdiction.name}}</span></a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="data-group data-module">
  <h2>Candidate</h2>

  <span ng-if="!feedBallotLineResult" class="is-loading"></span>
  <table id="candidateTable" class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="candidate-id"><a href="{{feedBallotLineResult.candidate.self}}" data-title-text="ID"><span class="td-text">{{feedBallotLineResult.candidate.id}}</span></a></td>
        <td id="candidate-name"><a href="{{feedBallotLineResult.candidate.self}}" data-title-text="Name"><span class="td-text">{{feedBallotLineResult.candidate.name}}</span></a></td>
      </tr>
    </tbody>
  </table>
</section>