<i id="feed-precincts-content"></i>

<section class="data-group">
  <span ng-if="!feedPrecincts" class="is-loading"></span>
  <table ng-show="feedPrecincts.length" id="precinctsTable" ng-table="precinctsTableParams" template-pagination="precinctsPagination" class="associations">
    <tr id="precinct{{$index}}" ng-repeat="precinct in $data">
      <td id="precinct-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/{{precinct.id}}">{{precinct.id}}</a></td>
      <td id="precinct-type{{$index}}" data-title="'Name'" sortable="'name'"><a href="{{$location.absUrl()}}/{{precinct.id}}">{{precinct.name}}</a></td>
      <td id="precinct-office{{$index}}" data-title="'Precinct Splits'" sortable="'precinct_splits'"><a href="{{$location.absUrl()}}/{{precinct.id}}">{{precinct.precinct_splits}}</a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="precinctsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == precinctsTableParams.page()}" ng-click="precinctsTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>

</section>