<i id="feed-overview-content"></i>

<div class="overview-wrap">

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>Polling Locations</h2>
    <span ng-if="!overviewData" class="more-detail is-loading"></span>
    <a id="state-link" ng-if="overviewData.pollingLocations" class="more-detail" href="{{$location.absUrl()}}/election/state">More Detail</a>
  </header>

  <!-- element table directive -->
  <section class="data-group data-module">
    <div ng-if="!overviewData"></br><span class="is-loading"></span></div>

    <table class="overview" ng-show="overviewData" id="pollingTable" template-pagination="pollingPagination" ng-table="pollingLocationsTable" class="associations">
      <tr id="pollingLocation{{$index}}" ng-repeat="pollingLocation in pollingLocationsTable['data']">
        <td data-title="'Element Type'" sortable="'element_type'" id="pollingLocation-element-type{{$index}}" class="element-type"><span data-title-text="Element Type">{{pollingLocation.element_type}}</span></td>
        <td data-title="'Amount'" sortable="'count'" id="pollingLocation-amount{{$index}}" class="numeric amount"><span data-title-text="Amount">{{pollingLocation.count | number}}</span></td>
        <td data-title="'Completion'" sortable="'complete_pct'" id="pollingLocation-complete{{$index}}" class="completion">
          <div data-title-text="Completion" class="completeness">
            <span class="complete-{{pollingLocation.complete_pct}}"></span>
            <div class="counter">{{pollingLocation.complete_pct | number}}% <span class="counter-text">complete</span></div>
          </div>
        </td>
        <td data-title="'Errors'" sortable="'error_count'" id="pollingLocation-errors{{$index}}" class="numeric element-errors">
          <a data-title-text="Errors" title="View the Errors" ng-class="{default_pointer: pollingLocation.error_count===0}" href="{{pollingLocation.error_count===0 ? 'javascript: void(0);' : pollingLocation.link}}">
            <div errorvalue="{{pollingLocation.error_count}}" ng-class="{none: pollingLocation.error_count===0}"
                  class="errors">{{pollingLocation.error_count | number}} <span class="error-text" ng-if="pollingLocation.error_count===1">error</span><span class="error-text" ng-if="pollingLocation.error_count!=1">errors</span> <span ng-if="pollingLocation.error_count===0"><i class="fi-check"></i></span><span ng-if="pollingLocation.error_count!=0"><i class="fi-alert"></i></span>
            </div>
          </a>
        </td>
      </tr>
    </table>

    <script type="text/ng-template" id="pollingPagination">
      <ul class="pagination ng-cloak">
        <li ng-repeat="page in pages"
            ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
          <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == pollingLocationsTable.page()}"
             ng-click="pollingLocationsTable.page(page.number)" href="">{{page.number}}</a>
        </li>
      </ul>
    </script>
  </section>
</section>
<!-- /.data-group -->

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>{{feedLocalities.length}} Localities</h2>

    <span ng-if="!feedLocalities" class="more-detail is-loading"></span>
    <a class="more-detail" ng-if="feedLocalities" href="{{$location.absUrl()}}/election/state/localities/">More Detail</a>
  </header>

  <!-- element table directive -->
  <section class="data-group data-module">
    <div ng-if="!feedLocalities"></br><span class="is-loading"></span></div>
    <table ng-show="feedLocalities.length" id="localTable" ng-table="localitiesTable" template-pagination="localPagination" class="associations">
      <tr id="locality{{$index}}" ng-repeat="locality in localitiesTable['data']">
        <td id="locality-id{{$index}}" class="id" data-title="'ID'" sortable="'id'">
          <a href="/#/feeds/{{vipfeed}}/election/state/localities/{{locality.id}}" data-title-text="ID">
            <span class="td-text">{{locality.id}}</span>
          </a>
        </td>
        <td id="locality-name{{$index}}" class="name" data-title="'Name'" sortable="'name'">
          <a href="/#/feeds/{{vipfeed}}/election/state/localities/{{locality.id}}" data-title-text="Name">
            <span class="td-text">{{locality.name}}</span>
          </a>
        </td>
        <td id="locality-precincts{{$index}}" class="precincts" data-title="'Precincts'" sortable="'precincts'">
          <a href="/#/feeds/{{vipfeed}}/election/state/localities/{{locality.id}}" data-title-text="Precincts">
            <span class="td-text">{{locality.precincts}}</span>
          </a>
        </td>
      </tr>
    </table>

    <script type="text/ng-template" id="localPagination">
      <ul class="pagination ng-cloak">
        <li ng-repeat="page in pages"
            ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
          <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == localitiesTable.page()}"
             ng-click="localitiesTable.page(page.number)" href="">{{page.number}}</a>
        </li>
      </ul>
    </script>
  </section>
</section>
<!-- /.data-group -->

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>Contests</h2>
    <span ng-if="!overviewData.contests" class="more-detail is-loading"></span>
    <a class="more-detail" ng-if="overviewData.contests" href="{{$location.absUrl()}}/election/contests">More Detail</a>
  </header>

  <!-- element table directive -->
  <span ng-if="!overviewData" class="is-loading"></span>
  <section class="data-group data-module">
    <div ng-if="!overviewData"></br><span class="is-loading"></span></div>

    <table class="overview" ng-show="overviewData" id="contestTable" template-pagination="pollingPagination" ng-table="contestsTable" class="associations">
      <tr id="feedContests{{$index}}" ng-repeat="contest in contestsTable['data']">
        <td data-title="'Element Type'" sortable="'element_type'" id="feedContests-element-type{{$index}}" class="element-type"><span data-title-text="Element Type">{{contest.element_type}}</span></td>
        <td data-title="'Amount'" sortable="'count'" id="feedContests-amount{{$index}}" class="numeric amount"><span data-title-text="Amount">{{contest.count | number}}</span></td>
        <td data-title="'Completion'" sortable="'complete_pct'" id="feedContests-complete{{$index}}" class="completion">
          <div data-title-text="Completion" class="completeness">
            <span class="complete-{{contest.complete_pct}}"></span>
            <div class="counter">{{contest.complete_pct | number}}% <span class="counter-text">complete</span></div>
          </div>
        </td>
        <td data-title="'Errors'" sortable="'error_count'" id="feedContests-errors{{$index}}" class="numeric element-errors">
          <a data-title-text="Errors" title="View the Errors" ng-class="{default_pointer: contest.error_count===0}" href="{{contest.error_count===0 ? 'javascript: void(0);' : contest.link}}">
            <div errorvalue="{{contest.error_count}}" ng-class="{none: contest.error_count===0}"
                  class="errors">{{contest.error_count | number}} <span class="error-text" ng-if="contest.error_count===1">error</span><span class="error-text" ng-if="contest.error_count!=1">errors</span> <span ng-if="contest.error_count===0"><i class="fi-check"></i></span><span ng-if="contest.error_count!=0"><i class="fi-alert"></i></span>
            </div>
          </a>
        </td>
      </tr>
    </table>

    <script type="text/ng-template" id="pollingPagination">
      <ul class="pagination ng-cloak">
        <li ng-repeat="page in pages"
            ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
          <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == contestsTable.page()}"
             ng-click="contestsTable.page(page.number)" href="">{{page.number}}</a>
        </li>
      </ul>
    </script>
  </section>

</section>
<!-- /.data-group -->

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>Source &amp; Election</h2>
    <span ng-if="!overviewData" class="more-detail is-loading"></span>
    <a id="state-link" ng-if="overviewData.source" class="more-detail" href="{{$location.absUrl()}}/source">More Detail</a>
  </header>

  <!-- element table directive -->
  <table class="overview">
    <thead>
      <tr>
        <th>Element Type</th>
        <th class="numeric">Amount</th>
        <th>Completion</th>
        <th class="numeric">Errors</th>
      </tr>
    </thead>
    <tbody>
      <tr id="feedSource">
        <td id="feedSource-element-type" class="element-type">Source</td>
        <td id="feedSource-amount" class="numeric amount">{{overviewData.source.count}}</td>
        <td id="feedSource-complete" class="completion">
          <div class="completeness">
            <span class="complete-{{overviewData.source.complete_pct}}"></span>
            <div class="counter">{{overviewData.source.complete_pct | number}}% <span class="counter-text">complete</span></div>
          </div>
        </td>
        <td id="feedSource-errors" class="numeric element-errors">
          <a title="View the Errors" ng-class="{default_pointer: overviewData.source.error_count===0}" href="{{overviewData.source.error_count===0 ? 'javascript: void(0);' : overviewData.source.link}}">
            <div errorvalue="{{overviewData.source.error_count}}" ng-class="{none: overviewData.source.error_count===0}"
                  class="errors">{{overviewData.source.error_count | number}} <span class="error-text" ng-if="overviewData.source.error_count===1">error</span><span class="error-text" ng-if="overviewData.source.error_count!=1">errors</span> <span ng-if="overviewData.source.error_count===0"><i class="fi-check"></i></span><span ng-if="overviewData.source.error_count!=0"><i class="fi-alert"></i></span>
            </div>
          </a>
        </td>
      </tr>
      <tr id="feedElection">
        <td id="feedElection-element-type" class="element-type">Election</td>
        <td id="feedElection-amount" class="numeric amount">{{overviewData.election.count}}</td>
        <td id="feedElection-complete" class="completion">
          <div class="completeness">
            <span class="complete-{{overviewData.election.complete_pct}}"></span>
            <div class="counter">{{overviewData.election.complete_pct | number}}% <span class="counter-text">complete</span></div>
          </div>
        </td>
        <td id="feedElection-errors" class="numeric element-errors">
          <a title="View the Errors" ng-class="{default_pointer: overviewData.election.error_count===0}" href="{{overviewData.election.error_count===0 ? 'javascript: void(0);' : overviewData.election.link}}">
            <div errorvalue="{{overviewData.election.error_count}}" ng-class="{none: overviewData.election.error_count===0}"
                  class="errors">{{overviewData.election.error_count | number}} <span class="error-text" ng-if="overviewData.election.error_count===1">error</span><span class="error-text" ng-if="overviewData.election.error_count!=1">errors</span> <span ng-if="overviewData.election.error_count===0"><i class="fi-check"></i></span><span ng-if="overviewData.election.error_count!=0"><i class="fi-alert"></i></span>
            </div>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>

</div>
