<i id="feed-ballot-content"></i>

<p ng-if="feedBallot.error_count !== undefined"><a id="ballot-errors" class="error-count error-count-{{feedBallot.error_count}}" href="{{$location.absUrl()}}/errors">{{feedBallot.error_count}}
  Errors in Ballot ID: {{feedBallot.id}}</a></p>

<span ng-if="!feedBallot" class="is-loading"></span>

<div class="data-module-full">
  <dl class="attributes" ng-if="feedBallot">
    <dt class="key">Image URL:</dt> <dd id="ballot-imageurl" class="value">{{feedBallot.image_url}}</dd>
    <dt class="key">Write In:</dt> <dd id="ballot-writein" class="value">{{feedBallot.write_in}}</dd>
  </dl>
</div>

<section class="data-group data-module">
  <h2>Contest {{feedContest.id}}</h2>
  <div ng-if="!feedContest"></br><span class="is-loading"></span></div>
  <table ng-show="feedContest" id="ballotContestsTable" class="associations">
    <tr id="ballotContest">
      <td id="ballotContest-id" data-title="'ID'" sortable="'id'"><a href="/#/feeds/{{vipfeed}}/election/contests/{{feedContest.id}}" data-title-text="ID"><span class="td-text">{{feedContest.id}}</span></a></td>
      <td id="ballotContest-type" data-title="'Type'" sortable="'type'"><a href="/#/feeds/{{vipfeed}}/election/contests/{{feedContest.id}}" data-title-text="Type"><span class="td-text">{{feedContest.type}}</span></a></td>
      <td id="ballotContest-office" data-title="'Office / Referendum / Custom'" sortable="'office'"><a href="/#/feeds/{{vipfeed}}/election/contests/{{feedContest.id}}" data-title-text="Office"><span class="td-text">{{feedContest.office}}</span></a></td>
    </tr>
  </table>
</section>

<section class="data-group data-module">
  <h2>{{feedCandidates.length}} Candidates</h2>
  <div ng-if="!feedCandidates"></br><span class="is-loading"></span></div>
  <table ng-show="feedCandidates.length" id="ballotCandidatesTable" ng-table="ballotCandidatesTableParams" template-pagination="ballotCandidatesPagination"  class="associations">
    <tr id="ballotcandidates{{$index}}" ng-repeat="candidate in feedCandidates">
      <td id="ballotcandidates-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/candidates/{{candidate.id}}" data-title-text="ID"><span class="td-text">{{candidate.id}}</span></a></td>
      <td id="ballotcandidates-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="{{$location.absUrl()}}/candidates/{{candidate.id}}" data-title-text="Name"><span class="td-text">{{candidate.name}}</span></a></td>
      <td id="ballotcandidates-party{{$index}}" data-title="'Party'" sortable="'party'"><a href="{{$location.absUrl()}}/candidates/{{candidate.id}}" data-title-text="Party"><span class="td-text">{{candidate.party}}</span></a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="ballotCandidatesPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="ballotCandidatePage{{$index}}" ng-class="{'is-active': page.number == ballotCandidatesTableParams.page()}"
           ng-click="ballotCandidatesTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>

<section ng-show="feedReferendum.id" class="data-group data-module">
  <h2>Referendum</h2>

  <table id="referendaTable" class="associations">
    <tr id="referendum">
      <td id="referendum-id" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/referenda/{{feedReferendum.id}}" data-title-text="ID"><span class="td-text">{{feedReferendum.id}}</span></a></td>
      <td id="referendum-title" data-title="'Title'" sortable="'title'"><a href="{{$location.absUrl()}}/referenda/{{feedReferendum.id}}" data-title-text="Title"><span class="td-text">{{feedReferendum.title}}</span></a></td>
    </tr>
  </table>
</section>

<p><a ng-if="feedBallot.custom_ballot_id" id="response-errors" class="error-count error-count-{{feedCustomBallot.error_count}}" href="{{$location.absUrl()}}/customballot/errors">{{feedCustomBallot.error_count}}
  Errors in Contest Result</a></p>
<section ng-if="feedBallot.custom_ballot_id" class="data-group data-module">
  <h2>Custom Ballot ID: {{feedCustomBallot.id}}</h2>

  <dl class="attributes">
    <dt class="key">ID: </dt> <dd id="customballot-id" class="value">{{feedCustomBallot.id}}</dd>
    <dt class="key">Heading:</dt> <dd id="customballot-heading" class="value">{{feedCustomBallot.heading}}</dd>
  </dl>
</section>

<section ng-if="feedBallot.custom_ballot_id" class="data-group data-module">
  <h2 ng-if="feedCustomBallotResponses.length">{{feedCustomBallot.length}} Ballot Responses</h2>
  <a ng-if="feedCustomBallot_error_count" id="ballotResponse-errors" class="error-count" href="{{$location.absUrl()}}/ballotresponses/errors">{{feedCustomBallot.error_count}}
    Errors in Ballot Responses</a>
  <table ng-show="feedCustomBallot.length" id="customBallotResponsesTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Sort Order</th>
      </tr>
    </thead>
    <tbody>
      <tr id="response{{$index}}" ng-repeat="response in feedCustomBallot">
        <td id="response-id{{$index}}"><div data-title-text="ID"><span class="td-text">{{response.id}}</span></div></td>
        <td id="response-text{{$index}}"><div data-title-text="Text"><span class="td-text">{{response.text}}</span></div></td>
        <td id="response-sort-order{{$index}}"><div data-title-text="Sort Order"><span class="td-text">{{response.sort_order}}</span></div></td>
      </tr>
    </tbody>
  </table>
</section>