<div id="feed-election-content" class="content">

  <h1 id="pageHeader-title">Election ID: {{feedElection.id}}</h1>

  <a ng-if="feedElection" class="error-count" href="/feeds/vipfeed-37-2012-11-06-2/election/errors">{{feedElection.error_count}} Errors in Election ID: {{feedElection.id}}</a>

  <div ng-if="!feedElection"></br><span class="is-loading"></span></div>
  <dl class="attributes" ng-if="feedElection">
    <dt class="key">Date:</dt>
    <dd id="election-date" class="value">{{feedElection.date}}</dd>
    <dt class="key">Election Type:</dt>
    <dd id="election-type" class="value">{{feedElection.type}}</dd>
    <dt class="key">Statewide</dt>
    <dd id="election-statewide" class="value">{{feedElection.statewide}}</dd>
    <dt class="key">Registration Info:</dt>
    <dd id="election-registration_url" class="value"><a target="_blank" href="{{feedElection.registration_url}}">{{feedElection.registration_url}}</a></dd>
    <dt class="key">Absentee Ballot Info:</dt>
    <dd id="election-absentee_url" class="value"><a target="_blank" href="{{feedElection.absentee_url}}">{{feedElection.absentee_url}}</a></dd>
    <dt class="key">Results URL:</dt>
    <dd id="election-results_url" class="value"><a target="_blank" href="{{feedElection.results_url}}">{{feedElection.results_url}}</a></dd>
    <dt class="key">Polling Hours:</dt>
    <dd id="election-polling_hours" class="value">{{feedElection.polling_hours}}</dd>
    <dt class="key">Election Day Registration:</dt>
    <dd id="election-day_of_registration" class="value">{{feedElection.day_of_registration}}</dd>
    <dt class="key">Registration Deadline:</dt>
    <dd id="election-registration_deadline" class="value">{{feedElection.registration_deadline}}</dd>
    <dt class="key">Absentee Request Deadline:</dt>
    <dd id="election-absentee_deadline" class="value">{{feedElection.absentee_deadline}}</dd>
  </dl>

  <section class="data-group">
    <h2>State</h2>

    <div ng-if="!feedElection.state"></br><span class="is-loading"></span></div>
    <table class="associations" ng-if="feedElection.state">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Localities</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td id="state-id" class="id"><a href="#">{{feedElection.state.id}}</a></td>
        <td id="state-name" class="name"><a href="#">{{feedElection.state.name}}</a></td>
        <td id="state-localities" class="localities"><a href="#">{{feedElection.state.locality_count}}</a></td>
      </tr>
      </tbody>
    </table>

  </section>


  <section class="data-group">
    <h2><span ng-if="feedContests">{{feedContests.length}}</span> Contests</h2>

    <div ng-if="!feedContests"></br><span class="is-loading"></span></div>
    <table class="associations" ng-if="feedContests">
      <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Office / Referendum / Custom</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contest in feedContests">
        <td id="contests-id{{$index}}" class="id"><a href="#">{{contest.id}}</a></td>
        <td id="contests-type{{$index}}" class="type"><a href="#">{{contest.type}}</a></td>
        <td id="contests-office{{$index}}" class="office"><a href="#">{{contest.title}}</a></td>
      </tr>
      </tbody>
    </table>
  </section>

</div><!-- /.content -->

<aside class="feed-meta" ng-include src="'app/partials/aside.html'"></aside>