<i id="feed-contests-content"></i>

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>Contests</h2>
  </header>

  <!-- element table directive -->
  <span ng-if="!feedContests" class="is-loading"></span>
  <section class="data-group data-module">
    <div ng-if="!feedContests"></br><span class="is-loading"></span></div>
    <table class="overview" ng-show="feedContests.length" id="contestsOverviewTable" template-pagination="pollingPagination" ng-table="contestTableParams" class="associations">
      <tr id="feedContests{{$index}}" ng-repeat="contest in feedContests">
        <td data-title="'Element Type'" sortable="'element_type'" id="feedContests-element-type{{$index}}" class="element-type"><span data-title-text="Element Type">{{contest.element_type}}</span></td>
        <td data-title="'Amount'" sortable="'amount'" id="feedContests-amount{{$index}}" class="numeric amount"><span data-title-text="Amount">{{contest.amount | number}}</span></td>
        <td data-title="'Completion'" sortable="'complete_pct'" id="feedContests-complete{{$index}}" class="completion">
          <div data-title-text="Completion" class="completeness">
            <span class="complete-{{contest.complete_pct}}"></span>
            <div class="counter">{{contest.complete_pct | number}}% <span class="counter-text">complete</span></div>
          </div>
        </td>
        <td data-title="'Errors'" sortable="'error_count'" id="feedContests-errors{{$index}}" class="numeric element-errors">
          <a data-title-text="Errors" title="View the Errors" ng-class="{default_pointer: contest.error_count===0}" href="{{contest.error_count===0 ? 'javascript: void(0);' : contest.self}}">
            <div errorvalue="{{contest.error_count}}" ng-class="{none: contest.error_count===0}"
                  class="errors">{{contest.error_count | number}} <span class="error-text" ng-if="contest.error_count===1">error</span><span class="error-text" ng-if="contest.error_count!=1">errors</span> <span ng-if="contest.error_count===0"><i class="fi-check"></i></span><span ng-if="contest.error_count!=0"><i class="fi-alert"></i></span>
            </div>
          </a>
        </td>
      </tr>
    </table>

    <script type="text/ng-template" id="pollingPagination">
      <ul class="pagination ng-cloak">
        <li ng-repeat="page in pages"
            ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
          <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == contestTableParams.page()}"
             ng-click="contestTableParams.page(page.number)" href="">{{page.number}}</a>
        </li>
      </ul>
    </script>
  </section>

</section>

<section class="data-group data-module">

  <div ng-if="!feedContests"></br><span class="is-loading"></span></div>
  <table ng-show="feedContests.length" id="contestsTable" ng-table="contestsTableParams" template-pagination="contestsPagination" class="associations">
    <tr id="contests{{$index}}" ng-repeat="contest in $data">
      <td id="contests-id{{$index}}" class="id" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/{{contest.id}}" data-title-text="ID"><span class="td-text">{{contest.id}}</span></a></td>
      <td id="contests-type{{$index}}" class="type" data-title="'Type'" sortable="'type'"><a href="{{$location.absUrl()}}/{{contest.id}}" data-title-text="Type"><span class="td-text">{{contest.type}}</span></a></td>
      <td id="contests-office{{$index}}" data-title="'Office / Referendum / Custom'" sortable="'title'"><a href="{{$location.absUrl()}}/{{contest.id}}" data-title-text="Office / Referendum / Custom"><span class="td-text">{{contest.title}}</span></a>
    </tr>
  </table>

  <script type="text/ng-template" id="contestsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="contestsPage{{$index}}" ng-class="{'is-active': page.number == contestsTableParams.page()}" ng-click="contestsTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>

</section>
