<i id="feed-state-content"></i>

<p ng-if="feedState.error_count !== undefined"><a id="state-errors" class="error-count error-count-{{feedState.error_count}}" href="{{$location.absUrl()}}/errors">{{feedState.error_count}} Errors in State ID: {{feedState.id}}</a></p>

<section class="data-group data-module">
  <h2>State</h2>

  <span ng-if="!feedElection" class="is-loading"></span>
  <table ng-if="feedElection.state" class="associations">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Localities</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id="state-id" class="id"><a href="{{$location.absUrl()}}" data-title-text="ID"><span class="td-text">{{feedElection.state.id}}</span></a></td>
      <td id="state-name" class="name"><a href="{{$location.absUrl()}}" data-title-text="Name"><span class="td-text">{{feedElection.state.name}}</span></a></td>
      <td id="state-localities" class="localities"><a href="{{$location.absUrl()}}" data-title-text="Localities"><span class="td-text">{{feedElection.state.locality_count}}</span></a>
      </td>
    </tr>
    </tbody>
  </table>

</section>

<section class="data-group data-module started">
  <header class="data-group-header">
    <h2>Polling Locations</h2>
    <span ng-if="!feedPollingLocations" class="more-detail is-loading"></span>
    <a id="state-link" ng-if="feedPollingLocations" class="more-detail" href="{{$location.absUrl()}}/election/state">More Detail</a>
  </header>

  <!-- element table directive -->
  <span ng-if="!feedPollingLocations" class="is-loading"></span>
  <div ng-show="feedPollingLocations.length" ng-overviewtable ng-model="feedPollingLocations" loading="feedPollingLocations" label="pollingLocation"></div>

</section>

<section class="data-group data-module">
  <h2><span ng-if="!feedState.administration">No</span> Election Administration</h2>

  <span ng-if="!feedState" class="is-loading"></span>
  <table class="associations" ng-if="feedState.administration">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id="state-administration-id" class="id"><a href="{{$location.absUrl()}}/electionadministration" data-title-text="ID"><span class="td-text">{{feedState.administration.id}}</span></a></td>
      <td id="state-administration-name" class="name"><a href="{{$location.absUrl()}}/electionadministration" data-title-text="Name"><span class="td-text">{{feedState.administration.name}}</span></a></td>
      <td id="state-administration-address" class="address"><a href="{{$location.absUrl()}}/electionadministration" data-title-text="Address"><span class="td-text">{{feedState.administration.address}}</span></a>
      </td>
    </tr>
    </tbody>
  </table>

</section><!-- /.data-group -->

<section class="data-group data-module">
  <h2>{{feedLocalities.length}} Localities</h2>

  <div ng-if="!feedLocalities"></br><span class="is-loading"></span></div>
  <table ng-show="feedLocalities.length" id="LocalTable" ng-table="localTableParams" template-pagination="localPagination"
         class="associations">
    <tr id="locality{{$index}}" ng-repeat="locality in $data">
      <td id="locality-id{{$index}}" class="id" data-title="'ID'" sortable="'id'"><a
        href="{{locality.self}}" data-title-text="ID"><span class="td-text">{{locality.id}}</span></a></td>
      <td id="locality-name{{$index}}" class="name" data-title="'Name'" sortable="'name'"><a
        href="{{locality.self}}" data-title-text="Name"><span class="td-text">{{locality.name}}</span></a></td>
      <td id="locality-precincts{{$index}}" class="precincts" data-title="'Precincts'" sortable="'precints'"><a
        href="{{locality.self}}" data-title-text="Precincts"><span class="td-text">{{locality.precincts}}</span></a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="localPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == localTableParams.page()}"
           ng-click="localTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>

