<i id="feed-state-content"></i>

<a ng-if="feedState" class="error-count" href="/feeds/vipfeed-37-2012-11-06-2/election/state/errors">{{feedState.error_count}} Errors in State ID: {{feedState.id}}</a> <mark>link</mark>

<dl class="attributes">
  <dt class="key">Name:</dt>
  <dd class="value">{{feedState.name}}</dd>
</dl>

<section class="data-group">
  <h2><mark>0</mark> Early Vote Sites</h2>
</section><!-- /.data-group -->

<section class="data-group">
  <h2><mark>No</mark> Election Administration</h2><!-- There can be only one. If not present use "No" instead of count -->
</section><!-- /.data-group -->

<section class="data-group">
<h2>{{feedState.localities.length}} Localities <small>(Counties)</small></h2>

<p><mark>Map goes here.</mark></p>

<div ng-if="!feedState"></br><span class="is-loading"></span></div>
<table ng-if="feedState" class="associations">
<thead>
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Precincts</th>
</tr>
</thead>
<tbody>
<tr id="locality{{$index}}" ng-repeat="locality in feedState.localities">
  <td id="locality-id{$index}}" class="id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">{{locality.id}}</a></td>
  <td id="locality-name{$index}}" class="name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">{{locality.name}}</a></td>
  <td id="locality-precints{$index}}" class="precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">{{locality.precints}}</a></td>
</tr>
</tbody>
</table>
</section><!-- /.data-group -->