<i id="feed-precinct-content"></i>

<a ng-if="feedPrecinct.error_count" class="error-count" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/errors">{{feedPrecinct.error_count}} Errors in Precinct ID: {{feedPrecinct.id}}</a> <mark>link</mark>

<dl class="attributes">
  <dt class="key">Name:</dt>
  <dd id="precinct-name" class="value">{{feedPrecinct.name}}</dd>
  <dt class="key">Number:</dt>
  <dd id="precinct-number" class="value">{{feedPrecinct.number}}</dd>
  <dt class="key">Ward:</dt>
  <dd id="precinct-ward" class="value">{{feedPrecinct.ward}}</dd>
  <dt class="key">Mail Only:</dt>
  <dd id="precinct-mailonly" class="value">{{feedPrecinct.mailonly}}</dd>
  <dt class="key">Ballot Style Image URL:</dt>
  <dd id="precinct-ballotimage" class="value"><a target="_blank" href="{{feedPrecinct.ballotimage}}">{{feedPrecinct.ballotimage}}</a></dd>
</dl>

<section class="data-group">
  <h2>{{feedEarlyVoteSites.length}} Early Vote Sites</h2>

  <span ng-if="!feedEarlyVoteSites" class="is-loading"></span>
  <table ng-show="feedEarlyVoteSites.length" id="earlyVoteTable" ng-table="earlyVoteTableParams" template-pagination="earlyVotePagination" class="associations">
    <tr id="earlyVoteSite{{$index}}" ng-repeat="earlyVoteSite in $data">
      <td id="earlyVoteSite-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{earlyVoteSite.self}}">{{earlyVoteSite.id}}</a></td>
      <td id="earlyVoteSite-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="{{earlyVoteSite.self}}">{{earlyVoteSite.name}}</a></td>
      <td id="earlyVoteSite-address{{$index}}" data-title="'Address'" sortable="'address'"><a href="{{earlyVoteSite.self}}">{{earlyVoteSite.address}}</a></td>
    </tr>
  </table>
</section>

<script type="text/ng-template" id="earlyVotePagination">
  <ul class="pagination ng-cloak">
    <li ng-repeat="page in pages"
        ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
      <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == earlyVoteTableParams.page()}" ng-click="earlyVoteTableParams.page(page.number)" href="">{{page.number}}</a>
    </li>
  </ul>
</script>

<section class="data-group">
  <h2>{{feedElectoralDistricts.length}} Electoral Districts</h2>

  <span ng-if="!feedElectoralDistricts" class="is-loading"></span>
  <table ng-show="feedElectoralDistricts.length" id="electoralDistrictsTable" ng-table="electoralDistrictsTableParams" template-pagination="electoralDistrictsPagination" class="associations">
    <tr id="electoralDistrict{{$index}}" ng-repeat="electoralDistrict in $data">
      <td id="electoralDistrict-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/electoraldistricts/{{electoralDistrict.id}}">{{electoralDistrict.id}}</a></td>
      <td id="electoralDistrict-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="{{$location.absUrl()}}/electoraldistricts/{{electoralDistrict.id}}">{{electoralDistrict.name}}</a></td>
      <td id="electoralDistrict-type{{$index}}" data-title="'Type'" sortable="'type'"><a href="{{$location.absUrl()}}/electoraldistricts/{{electoralDistrict.id}}">{{electoralDistrict.type}}</a></td>
      <td id="electoralDistrict-contests{{$index}}" data-title="'Contests'" sortable="'contests'"><a href="{{$location.absUrl()}}/electoraldistricts/{{electoralDistrict.id}}">{{electoralDistrict.contests}}</a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="electoralDistrictsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == electoralDistrictsParams.page()}" ng-click="electoralDistrictParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>


<section class="data-group">
  <h2>{{feedPollingLocations.length}} Polling Locations</h2>

  <span ng-if="!feedPollingLocations" class="is-loading"></span>
  <table ng-show="feedPollingLocations.length" id="pollingLocationsTable" ng-table="pollingLocationsTableParams" template-pagination="pollingLocationsPagination" class="associations">
    <tr id="pollingLocation{{$index}}" ng-repeat="pollingLocation in $data">
      <td id="pollingLocation-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="no-page">{{pollingLocation.id}}</a></td>
      <td id="pollingLocation-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="no-page">{{pollingLocation.name}}</a></td>
      <td id="pollingLocation-address{{$index}}" data-title="'Address'" sortable="'address'"><a href="no-page">{{pollingLocation.address}}</a></td>
    </tr>
  </table>
</section>

<script type="text/ng-template" id="pollingLocationsPagination">
  <ul class="pagination ng-cloak">
    <li ng-repeat="page in pages"
        ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
      <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == pollingLocationsParams.page()}" ng-click="pollingLocationsTableParams.page(page.number)" href="">{{page.number}}</a>
    </li>
  </ul>
</script>

<section class="data-group">
  <h2>{{feedPrecinctSplits.length}} Precinct Splits</h2>

  <span ng-if="!feedPrecinctSplits" class="is-loading"></span>
  <table ng-show="feedPrecinctSplits.length" id="precinctSplitsTable" ng-table="precinctSplitsTableParams" template-pagination="precinctSplitsPagination" class="associations">
    <tr id="precinctSplit{{$index}}" ng-repeat="precinctSplit in $data">
      <td id="precinctSplit-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/precinctsplits/{{precinctSplit.id}}">{{precinctSplit.id}}</a></td>
      <td id="precinctSplit-name{{$index}}" data-title="'Name'" sortable="'name'"><a href="{{$location.absUrl()}}/precinctsplits/{{precinctSplit.id}}">{{precinctSplit.name}}</a></td>
      <td id="precinctSplit-streetsegments{{$index}}" data-title="'Street Segments'" sortable="'street_segments'"><a href="{{$location.absUrl()}}/precinctsplits/{{precinctSplit.id}}">{{precinctSplit.street_segments}}</a></td>
    </tr>
  </table>
</section>

<script type="text/ng-template" id="precinctSplitsPagination">
  <ul class="pagination ng-cloak">
    <li ng-repeat="page in pages"
        ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
      <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == precinctSplitsTableParams.page()}" ng-click="precinctSplitsTableParams.page(page.number)" href="">{{page.number}}</a>
    </li>
  </ul>
</script>

<section class="data-group">
  <h2>{{feedPrecinct.streetsegments.total}} Street Segments</h2>
  <a ng-if="feedPrecinct.streetsegments.error_count" id="streetsegments-errors" class="error-count" href="{{$location.absUrl()}}/streetsegments/errors">{{feedPrecinct.streetsegments.error_count}} Errors in Street Segments</a>

  <span ng-if="!feedPrecinct" class="is-loading"></span>
</section>
