<i id="feed-candidate-content"></i>

<p ng-if="feedCandidate.error_count !== undefined"><a id="candidate-errors" class="error-count error-count-{{feedCandidate.error_count}}" href="{{$location.absUrl()}}/errors">{{feedCandidate.error_count}}
  Errors in Candidate ID: {{feedCandidate.id}}</a></p>

<span ng-if="!feedCandidate" class="is-loading"></span>
<div class="data-module-full">
  <dl class="attributes" ng-if="feedCandidate">
    <dt class="key">Name:</dt> <dd id="candidate-name" class="value">{{feedCandidate.name}}</dd>

    <!-- Logic to switch detailed party -->
    <dt class="key" ng-if="!feedCandidate.party.name">Party:</dt>
    <dd id="candidate-party" class="value" ng-if="!feedCandidate.party.name">{{feedCandidate.party}}</dd>

    <dt class="key">Candidate Url:</dt> <dd id="candidate-url" class="value">{{feedCandidate.candidate_url}}</dd>
    <dt class="key">Biography:</dt> <dd id="candidate-biography" class="value">{{feedCandidate.biography}}</dd>
    <dt class="key">Phone:</dt> <dd id="candidate-phone" class="value">{{feedCandidate.phone}}</dd>
    <dt class="key">Photo Url:</dt> <dd id="candidate-photourl" class="value">{{feedCandidate.photo_url}}</dd>
    <dt class="key">Filed Mailing Address:</dt>
    <dd id="physical_address" class="value">
    {{feedCandidate.filed_mailing_address_line1}}<span ng-if="feedCandidate.filed_mailing_address_line1">,</span>
    {{feedCandidate.filed_mailing_address_city}}<span ng-if="feedCandidate.filed_mailing_address_city">,</span>
    {{feedCandidate.filed_mailing_address_state}} {{feedCandidate.filed_mailing_address_zip}}</dd>

    <dt class="key">Email:</dt> <dd id="candidate-email" class="value">{{feedCandidate.email}}</dd>
    <dt class="key">Sort Order:</dt> <dd id="candidate-sortorder" class="value">{{feedCandidate.sort_order}}</dd>
  </dl>

  <section ng-show="feedBallotStyle" class="data-group data-module">
    <h2>{{feedBallotStyle.length}} Ballot Styles</h2>

    <span ng-if="!feedBallotStyle" class="is-loading"></span>
    <table ng-show="feedBallotStyle.length" id="ballotStylesTable" ng-table="candidateBallotStylesTableParams" template-pagination="ballotStylesPagination">
      <tr id="ballotStyle{{$index}}" ng-repeat="result in $data">
        <td id="ballotStyle-id{{$index}}" data-title="'ID'" sortable="'elementId'"><span class="td-text">{{result.elementId}}</span></td>
        <td id="ballotStyle-election{{$index}}" data-title="'Election'" sortable="'election'"><span class="td-text">{{result.election}}</span></td>
        <td id="ballotStyle-name{{$index}}" data-title="'Name'" sortable="'name'"><span class="td-text">{{result.name}}</span></td>
        <td id="ballotStyle-sortOrder{{$index}}" data-title="'Sort Order'" sortable="'sortOrder'"><span class="td-text">{{result.sortOrder}}</span></td>
        <td id="ballotStyle-referendum{{$index}}" data-title="'Referendum'" sortable="'referendum'"><span class="td-text">{{result.referendum}}</span></td>
      </tr>
    </table>

    <script type="text/ng-template" id="ballotStylesPagination">
      <ul class="pagination ng-cloak">
        <li ng-repeat="page in pages"
            ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
          <a id="ballotStylePage{{$index}}" ng-class="{'is-active': page.number == candidateBallotStylesTableParams.page()}"
             ng-click="candidateBallotStylesTableParams.page(page.number)" href="">{{page.number}}</a>
        </li>
      </ul>
    </script>
  </section>
</div>
