<i id="feed-referendum-content"></i>

<a ng-if="feedReferendum.error_count" class="error-count" href="#">{{feedReferendum.error_count}}
  Errors in Referendum ID: {{feedReferendum.id}}</a>
<mark>link</mark>

<span ng-if="!feedReferendum" class="is-loading"></span>
<dl class="attributes" ng-if="feedReferendum">
  <dt class="key">Title:</dt> <dd id="referendum-title" class="value">{{feedReferendum.title}}</dd>
  <dt class="key">Subtitle:</dt> <dd id="referendum-subtitle" class="value">{{feedReferendum.subtitle}}</dd>
  <dt class="key">Brief:</dt> <dd id="referendum-brief" class="value">{{feedReferendum.brief}}</dd>
  <dt class="key">Text:</dt> <dd id="referendum-text" class="value">{{feedReferendum.text}}</dd>
  <dt class="key">Pro Statement:</dt> <dd id="referendum-prostatement" class="value">{{feedReferendum.pro_statement}}</dd>
  <dt class="key">Con Statement:</dt> <dd id="referendum-constatement" class="value">{{feedReferendum.con_statement}}</dd>
  <dt class="key">Passage Threshold:</dt> <dd id="referendum-threshold" class="value">{{feedReferendum.passage_threshold}}</dd>
  <dt class="key">Effect of Abstain:</dt> <dd id="referendum-abstain" class="value">{{feedReferendum.effect_of_abstain}}</dd>
</dl>

<section class="data-group">
  <h4>{{feedReferendum.ballot_responses.length}} Ballot Responses</h4>

  <span ng-if="!feedReferendum.ballot_responses && feedReferendum.ballot_responses !== null" class="is-loading"></span>
  <table ng-show="feedReferendum.ballot_responses.length" id="referendumBallotResponsesTable" ng-table="referendumBallotResponsesTableParams" template-pagination="referendumBallotResponsesPagination" class="associations">
    <tr id="response{{$index}}" ng-repeat="response in $data">
      <td id="response-id{{$index}}" data-title="'ID'" sortable="'id'"><a href="{{$location.absUrl()}}/response.id}}">{{response.id}}</a></td>
      <td id="response-title{{$index}}" data-title="'Text'" sortable="'text'"><a href="{{$location.absUrl()}}/response.id">{{response.text}}</a></td>
    </tr>
  </table>

  <script type="text/ng-template" id="referendumBallotResponsesPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="referendumBallotResponsesPage{{$index}}" ng-class="{'is-active': page.number == referendumBallotResponsesTableParams.page()}"
           ng-click="referendumBallotResponsesTableParams.page(page.number)" href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>