<form class="form-sign-in" action="/login" method="post">
  <div>
    <label for="username">Username</label>
    <input id="username" name="username" ng-model="username" tabindex="1" type="text">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" name="password" ng-model="password" tabindex="2" type="password">
  </div>
  <br/>
  <input id="sign-in" name="sign-in" type="submit" value="Sign In">
  <a id="forgot-password" class="helper_forgotpassword" href="mailto:{{forgotPasswordEmail}}?subject=Forgot Password">Forgot your password?</a>
</form>
