{{data}}

<form class="form-sign-in" action="/login" method="post">
  <div>
    <label for="username">Username</label>
    <input id="username" name="username" tabindex="1" type="text">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" name="password" tabindex="2" type="password">
  </div>
  <div>
    <input id="remember-me" name="remember-me" tabindex="3" type="checkbox" value="remember-me">
    <label for="remember-me">Stay signed in</label>
  </div>
  <input id="sign-in" name="sign-in" type="submit" value="Sign In">
  <a id="forgot-password" class="helper" href="#">Forgot your password?</a>
</form>
