<h1>Edit Profile</h1>

<div>
  <img src="http://placekitten.com/100/100">
  <a href="">Change Avatar</a>
</div>

<form class="edit-profile">
  <label for="name">Name</label>
  <input id="name" type="text" value="Stephen Miller" tabindex="1">

  <label for="job-title">Job Title</label>
  <input id="job-title" type="text" value="Director of Elections" tabindex="2">

  <label for="email">Email Address</label>
  <input id="email" type="email" value="smiller@ohio.gov" tabindex="3">

  <label for="status-updates"><input id="status-updates" name="status-updates" type="checkbox" checked=""  tabindex="4"> Email Feed status updates</label>

  <input class="button" type="submit" value="Save"  tabindex="5">
</form>

<h2>Reset Password</h2>

<form class="reset-password">
  <label for="current-password">Current Password</label>
  <input id="current-password" type="password" tabindex="6">

  <label for="new-password">New Password</label>
  <input id="new-password" type="password" tabindex="7">

  <label for="confirm-password">Confirm New Password</label>
  <input id="confirm-password" type="password" tabindex="8">

  <input class="button" type="submit" value="Submit" tabindex="9">
</form>