lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map

pids
logs
results
feeds
upload

node_modules
feeds

.idea
.DS_Store
.sass-cache
.node-version

public/assets/js/lib/*
!/public/assets/js/lib/leaflet

metis@.service

sessions
/.env
public/assets/js/app/config.js
script/run-local

/*.log
/target
/*-init.clj
out
public/assets/js/compiled/
.nrepl-port
.lein-repl-history
resources/test/

.java-version
package-lock.json
