<i id="centralization"></i>

  <!-- <div ng-if="showUploaded" class="centralization-file-uploaded">Your file has been uploaded.</div> -->

<section class="data-group data-module">
  <p>Welcome to the Voting Information Project (VIP) data centralizer.</p>
  <p>Please upload files from your voter registration systems to include streets, polling locations, and precincts and/or election management system (EMS) or other database exports that provides ballot and contest information.</p>
  <br>
  <p>For questions or problems with using this tool contact <a href="mailto:questions@votinginfoproject.org">questions@votinginfoproject.org</a>.</p>
  <br>
  <p>Please Select Election Date</p>

  <form ng-app="fileUpload" ng-controller="CentralizationCtrl" name="form" enctype="multipart/form-data">
    <input id="date" type="text" ng-model="date" name="date">
    <div class="button" ngf-select ng-model="file">Select a file</div>
    <div class="button" ng-disabled="cannotSubmit()" ng-click="submit()">Submit</div>
  </form>

</section>
