<!-- error table directive -->
<div ng-show="errors.length" ng-error-table errors="errors" errors-table-params="errorsTableParams" toggle-error="toggleError" loading="errors"></div>

<section class="data-group">

  <span ng-if="!errors" class="is-loading"></span>
  <table ng-show="fatalErrors.length" id="errorsTable" ng-table="errorsTableParams" template-pagination="errorsPagination" class="table-errors">
    <caption class="fatal-caption">Fatal and Critical Errors &mdash; Must be corrected</caption>
    <tr id="fatalError{{$index}}" ng-repeat-start="error in fatalErrors">
      <td width="10%" class="numeric" id="fatalError-count{{$index}}" data-title="'Count'" sortable="'error_count'">
        <a href="javascript:void(0)" ng-click="toggleError('fatal',$index)">{{error.count | number}}</a>
      </td>
      <td id="fatalError-type{{$index}}" data-title="'Error Type'" sortable="'severity_text'" class="toggle-td">
        <a href="javascript:void(0)" ng-click="toggleError('fatal',$index)">
          <h3><b class="error-toggle"><span id="fatalErrorArrowClosed{{$index}}"><i class="fi-plus"></i></span><span id="fatalErrorArrowOpen{{$index}}" hidden><i class="fi-minus"></i></span></b> <strong><i class="fi-alert"></i> {{error.severity | severity}}:</strong> {{error | errorTitle}} [{{error.scope | errorScope}}]</h3>
          <p>{{error | errorDescription}}</p>
        </a>
      </td>
    </tr>
    <tr id="fatalErrorDetail{{$index}}" ng-repeat-end hidden style="background-color: #f2f2f2">
      <td></td>
      <td class="error-item" style="padding: 20px 0px; padding-right: 20px;">
        <div>
          <small>Sample from the Report:</small>
          <div ng-if="error" style="background-color: #fbfbfb; border: 1px solid #cecece; padding: 10px"><pre><code>{{error | xmlTreeErrorExample}}</code></pre></div>
          <div ng-if="!error" style="background-color: #fff; padding: 10px">Could not fetch example error.</div>
        </div>
      </td>
    </tr>
  </table>

  <table ng-show="minorErrors.length" id="errorsTable" ng-table="errorsTableParams" template-pagination="errorsPagination" class="table-errors">
    <caption class="errors-caption">Errors</caption>
    <tr id="minorError{{$index}}" ng-repeat-start="error in minorErrors">
      <td width="10%" class="numeric" id="minorError-count{{$index}}" data-title="'Count'" sortable="'error_count'">
        <a href="javascript:void(0)" ng-click="toggleError('minor',$index)">{{error.count | number}}</a>
      </td>
      <td id="minorError-type{{$index}}" data-title="'Error Type'" sortable="'severity_text'" class="toggle-td">
        <a href="javascript:void(0)" ng-click="toggleError('minor',$index)">
          <h3><b class="error-toggle"><span id="minorErrorArrowClosed{{$index}}"><i class="fi-plus"></i></span><span id="minorErrorArrowOpen{{$index}}" hidden><i class="fi-minus"></i></span></b> <strong><i class="fi-alert"></i> {{error.severity | severity}}:</strong> {{error | errorTitle}} [{{error.scope | errorScope}}]</h3>
          <p>{{error | errorDescription}}</p>
        </a>
      </td>
    </tr>
    <tr id="minorErrorDetail{{$index}}" ng-repeat-end hidden style="background-color: #f2f2f2">
      <td></td>
      <td class="error-item" style="padding: 20px 0px; padding-right: 20px;">
        <div>
          <small>Sample from the Report:</small>
          <div ng-if="error" style="background-color: #fbfbfb; border: 1px solid #cecece; padding: 10px"><pre><code>{{error | xmlTreeErrorExample}}</code></pre></div>
          <div ng-if="!error" style="background-color: #fff; padding: 10px">Could not fetch example error.</div>
        </div>
      </td>
    </tr>
  </table>

  <script type="text/ng-template" id="errorsPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages" ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == errorsTableParams.page()}" ng-click="errorsTableParams.page(page.number)" href="">{{page.number}}</a>
    </ul>
  </script>

  <div ng-show="scopedErrorUrl">
    <a class="button" href="{{scopedErrorUrl}}">
      Download {{scopedErrorType}} Error Report
    </a>
  </div>

</section>
