<i id="feed-overview-content"></i>

<div class="overview-wrap">
  <section class="data-group data-module started"
           ng-show="summaries">
    <vip-overview-table
       table-data="summaries.pollingLocations"
       table-params="tableParams.pollingLocations"
       title="Voting Locations"
       id-prefix="pollingLocation">
    </vip-overview-table>

    <section class="data-group data-module started">
      <header class="data-group-header">
        <h2>{{feedLocalities.length}} Localities</h2>

        <span ng-if="!feedLocalities" class="more-detail is-loading"></span>
        <a class="more-detail"
           ng-if="feedLocalities"
           href="{{$location.absUrl()}}/election/state/localities/">
          More Detail
        </a>
      </header>

      <section class="data-group data-module">
        <div ng-if="!feedLocalities">
          </br>
          <span class="is-loading"></span>
        </div>

        <table ng-show="feedLocalities.length"
               id="localitiesTable"
               ng-table="localitiesTable"
               template-pagination="localPagination"
               class="associations">

          <tr id="locality{{$index}}" ng-repeat="locality in $data">
            <td id="locality-id{{$index}}" class="id" data-title="'ID'" sortable="'identifier'">
              <a href="/#/5.1/feeds/{{publicId}}/election/state/localities/{{locality.identifier}}" data-title-text="ID">
                <span class="td-text">{{locality.identifier}}</span>
              </a>
            </td>

            <td id="locality-name{{$index}}" class="name" data-title="'Name'" sortable="'name'">
              <a href="/#/5.1/feeds/{{publicId}}/election/state/localities/{{locality.identifier}}" data-title-text="Name">
                <span class="td-text">{{locality.name}}</span>
              </a>
            </td>

            <td id="locality-precincts{{$index}}" class="precincts" data-title="'Precincts'" sortable="'precincts'">
              <a href="/#/5.1/feeds/{{publicId}}/election/state/localities/{{locality.identifier}}" data-title-text="Precincts">
                <span class="td-text">{{locality.precincts}}</span>
              </a>
            </td>
          </tr>
        </table>

        <script type="text/ng-template" id="localPagination">
          <ul class="pagination ng-cloak">
            <li ng-repeat="page in pages"
                ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
              <a id="feedsPage{{$index}}" ng-class="{'is-active': page.number == localitiesTable.page()}"
                 ng-click="localitiesTable.page(page.number)" href="">{{page.number}}</a>
            </li>
          </ul>
        </script>
      </section>
    </section>

    <vip-overview-table
       table-data="summaries.voterResources"
       table-params="tableParams.voterResources"
       title="Voter Resources"
       id-prefix="voterResource">
    </vip-overview-table>

    <vip-overview-table
       table-data="summaries.contests"
       table-params="tableParams.contests"
       title="Contests"
       id-prefix="contest">
    </vip-overview-table>

    <vip-overview-table
       table-data="summaries.sourceElection"
       table-params="tableParams.sourceElection"
       title="Source and Election"
       id-prefix="sourceElection">
    </vip-overview-table>

    </section>
  </section>
</div>
