<header class="data-group-header">
  <h2>{{title}}</h2>
</header>

<section class="data-group data-module">
  <div ng-if="!tableData">
    <br/>
    <span class="is-loading"></span>
  </div>

  <table id="{{idPrefix}}Table"
         class="overview associations"
         template-pagination="pollingPagination"
         ng-show="tableData"
         ng-table="table">

    <tr id="{{idPrefix}}{{$index}}" ng-repeat="row in tableData">
      <td data-title="'Element Type'"
          sortable="'element_type'"
          id="{{idPrefix}}-element-type{{$index}}"
          class="element-type">
        <span data-title-text="Element Type">{{row.element_type}}</span>
      </td>

      <td data-title="'Amount'"
          sortable="'count'"
          id="{{idPrefix}}-amount{{$index}}"
          class="numeric amount">
        <span data-title-text="Amount">{{row.count | number}}</span></td>

      <td data-title="'Completion'"
          sortable="'complete_pct'"
          id="{{idPrefix}}-complete{{$index}}"
          class="completion">
        <div data-title-text="Completion" class="completeness">
          <span class="complete-{{row.complete_pct}}"></span>
          <div class="counter">
            {{row.complete_pct | number}}% <span class="counter-text">complete</span>
          </div>
        </div>
      </td>

      <td data-title="'Errors'"
          sortable="'error_count'"
          id="{{idPrefix}}-errors{{$index}}"
          class="numeric element-errors">
        <a data-title-text="Errors"
           title="View the Errors"
           ng-class="{default_pointer: row.error_count === 0}"
           href="{{row.error_count === 0 ? 'javascript: void(0);' : row.link}}">
          <div errorvalue="{{row.error_count}}"
               ng-class="{none: row.error_count===0}"
               class="errors">
            {{row.error_count | number}}
            <span class="error-text" ng-if="row.error_count === 1">error</span>
            <span class="error-text" ng-if="row.error_count != 1">errors</span>
            <span ng-if="row.error_count === 0">
              <i class="fi-check"></i>
            </span><span ng-if="row.error_count != 0">
              <i class="fi-alert"></i>
            </span>
          </div>
        </a>
      </td>
    </tr>
  </table>

  <script type="text/ng-template" id="pollingPagination">
    <ul class="pagination ng-cloak">
      <li ng-repeat="page in pages"
          ng-class="{'ng-hide': page.type == 'prev' || page.type == 'next'}">
        <a id="feedsPage{{$index}}"
           ng-class="{'is-active': page.number == table.page()}"
           ng-click="table.page(page.number)"
           href="">{{page.number}}</a>
      </li>
    </ul>
  </script>
</section>
