// ============================================================================
// Data Group
// ============================================================================
// TODO: rename data-group

.data-group {
  //color: $blue;
  margin-bottom: $base-lg;

  > div {
    //background: $white;
  }

  @include bp(c12) {
    // @include span-columns(4 of 8);
    // float: left;

    // &:nth-child(2n) {
    //   margin-left: 0;
    //   clear: left;
    // }
  }

  @include bp(c16) {
    @include span-columns(6 of 12);
    float: left;

    &:nth-child(2n) {
      margin-left: 0;
      clear: left;
    }
  }
}

.data-group-header {
  @include clearfix;
  background: $blue-med;
  color: $white;
  padding: $base-sm $base $base-sm;
  margin-bottom: -$base;
  
  .started & {
    padding-bottom: $base;
    border-radius: 8px 8px 0 0;
  }

  h2 {
    float: left;
    font-size: 1.5em;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;
  }

  a {
    color: $white;
  }
}

.more-detail {
  display: block;
  float: right;
  font-size: 0.875em;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: $base-sm;
}