// ============================================================================
// Data Group
// ============================================================================

.data-module-full {
  clear: both;
  margin-bottom: $base-med;

  @include bp(c6) {
    margin-bottom: $base-lg;
  }

}

.data-text {
  background: #fff;
  padding: $base $base-sm $base-sm;
}

section.data-module {
  margin-bottom: $base-med;

  @include bp(c6) {
    margin-bottom: $base-lg;
  }

  @include bp(c16) {
    @include span-columns(6 of 12);
    float: left;
        
    &:nth-of-type(2n+1) {
      margin-left: 0;
      clear: left;
    }

    &:only-of-type {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }
  
}

.data-module > h2 {
  background: $blue-med;
  color: $white;
  padding: $base-sm;
  font-size: 1.25em;
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 0;

  @include bp(c6) {
    border-radius: 8px 8px 0 0;
    font-size: 1.5em;
    font-size: 1.5rem;
  }
}

.data-group-header {
  @include clearfix;
  background: $blue-med;
  color: $white;
  padding: $base;

  @include bp(c6) {
    padding: $base-sm $base $base-sm;
  }
  
  .started & {

    @include bp(c6) {
      padding-bottom: $base;
      border-radius: 8px 8px 0 0;
    }
  }

  h2 {
    float: left;
    font-size: 1.125em;
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 0;

    @include bp(c6) {
      font-size: 1.5em;
      font-size: 1.5rem;
    }
  }

  a {
    color: $white;
  }
}

.more-detail {
  display: block;
  float: right;
  font-size: 0.75em;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include bp(c6) {
    font-size: 0.875em;
    font-size: 0.875rem;
    margin-top: $base-sm;
  }

}