/* layout.scss */

// article

aside {
  @include bp(c12) {
    @include span-columns(4 of 12);
    float: right;
  }

  @include bp(c16) {
    @include span-columns(4 of 16);
    float: right;
  }
}

// details
// footer

header[role="banner"] {
  background-color: $gray-medium;
  text-align: center;
}

// nav
// section

.wrapper {
  @include clearfix;
  @include transition (all 0.5s ease-in-out);
  margin: 0 auto;
  max-width: 1308px;
  padding: 1em 0;
  width: percentage(258/306);

  @include bp(c6) {
    width: percentage(480/600);
  }

  @include bp(c12) {
    width: percentage(972/1116);
  }

  @include bp(c16) {
    width: percentage(1308/1452);
  }
}

.content {
  @include bp(c12) {
    @include span-columns(8 of 12);
    float: left;
  }

  @include bp(c16) {
    @include span-columns(12 of 16);
    float: left;
  }
}

.branding {
  color: $black;
  font-family: $header-font-family;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;

  @include bp(c6) {
    float: left;
    font-size: 1.5em;
    margin-top: .25em;
  }

  @include bp(c12) {
    font-size: 2.25em;
  }
}

.main-nav {
  @include bp(c6) {
    float: right;
  }
  @include bp(c12) {
    ul {
      font-size: 1.125em;
    }
  }
}

// ============================================================================
// Grid testing
// ============================================================================

.row {
  @include clearfix;
  background: $green;
  background-image: url('/assets/images/col-2.png');
  background-size: 100%;
  background-repeat: repeat-y;
  margin-bottom: 1em;
  padding: 1em 0;

  div {
    background: $red;
    color: $white;
    font-family: $helvetica;
    font-weight: bold;
  }

  @include bp(c6) {
    background-image: url('/assets/images/col-6.png');
  }

  @include bp(c12) {
    background-image: url('/assets/images/col-12.png');
  }

  @include bp(c16) {
    background-image: url('/assets/images/col-16.png');
  }
}

.col-1of16 { @include span-columns(1 of 16); }
.col-4of16 { @include span-columns(4 of 16); }
.col-6of16 { @include span-columns(6 of 16); }

.col-1of12 { @include span-columns(1 of 12); }
.col-4of12 { @include span-columns(4 of 12); }
.col-8of12 { @include span-columns(8 of 12); }

.col-1of6 { @include span-columns(1 of 6); }

.col-1of2 { @include span-columns(1 of 2); }
