/* layout.scss */

// article

aside {
}

// details
// footer

header[role="banner"] {
  background-color: $black;
  color: $white;
}

// nav
// section

.wrapper {
  padding: 1em 0;
}

.content {
}
