/* module.scss */

// ============================================================================
// Alert Boxes
// ============================================================================

.alert-box {
  background: $notice-color;
  color: darken($notice-color, 60);
  font-weight: bold;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;
  position: relative;

  a {
    color: darken($notice-color, 70);

    &:hover {
      color: darken($notice-color, 90);
    }
  }
}

.alert-box.error {
  background: $error-color;
  color: darken($error-color, 60);

  a {
    color: darken($error-color, 70);

    &:hover {
      color: darken($error-color, 90);
    }
  }
}

.alert-box.success {
  background: $success-color;
  color: darken($success-color, 60);

  a {
    color: darken($success-color, 70);

    &:hover {
      color: darken($success-color, 90);
    }
  }
}

.alert-box.processing {
  background: $processing-color;
  color: darken($processing-color, 60);

  a {
    color: $blue;

    &:hover {
      color: $blue;
    }
  }
}

.close {
  color: $gray-dark;
  font-size: 1.375em;
  line-height: 0;
  opacity: 0.3;
  padding: $base-padding;
  position: absolute;
  right: 0.3125em;
  top: 0.4375em;
}

.close:hover,
.close:focus {
  opacity: 0.5;
}


// ============================================================================
// Associations
// ============================================================================

.associations {

  thead {
    display: none;

    @include bp(c6) {
      display: table-header-group;
    }
  }

  tbody {
    tr {
      background: $white;
      a {
        border-top: 1px solid $gray-light;

         @include bp(c6) {
          border: none;
         }
      }

      &:nth-child(2n){
        background: $gray-light;

        a {
          border-top: 1px solid $white;
          @include bp(c6) {
            border: none;
           }
        }
      }

      td:first-child a {
        border: none;
      }

      &:hover {
        background: $blue-darkest;
        color: $white;
        a {
          color: $white;
        }
      }
    }
  }

  a {
    display: block; 
    line-height: 1.125;
    padding: $base-sm $base;
    @include clearfix;

    @include bp(c6) {
      padding: $base;
    }

    &:hover, &:focus {
      color: $base-link-color;
    }

    .td-text {
      width: 50%;
      float: right;

       @include bp(c6) {
          width: auto;
          float: none;
       }
    }
    
    &:before {
      content: attr(data-title-text);
      width: 47%;
      display: block;
      float: left;
      font-weight: bold;
      font-size: 0.875em;
      font-size: 0.875rem;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-right: 3%;
    
      @include bp(c6) {
        content: '';
      }
    }

  }

  tr {
    border-top: $base-border;

    @include bp(c6) {
      border: none;
    }
    
  }

  td {
    border: none;
    clear: left;
    padding: 0;
    display: block;

    @include bp(c6) {
      border-top: $base-border;
      display: table-cell;
    }
    
  }

  .admin {
    border: none;
    padding-left: 1em;
  }

}

.associations-end {
  color: $gray-dark;

  tbody tr {

    &:hover {
      background: $gray-light;
    }

    &:nth-child(2n){
      &:hover {
        background: $white;
      }
    }

    td {
      padding: $base-sm $base;
      @include clearfix;

      @include bp(c6) {
        padding: $base;
      }

      div {

        &:before {
          content: attr(data-title-text);
          width: 47%;
          display: block;
          float: left;
          font-weight: bold;
          font-size: 0.875em;
          font-size: 0.875rem;
          line-height: 1.9;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding-right: 3%;
        
          @include bp(c6) {
            content: '';
          }
        }

      }
    }

    .td-text {
      width: 50%;
      float: right;

       @include bp(c6) {
          width: auto;
          float: none;
       }
    }

  }

}

// TODO: remove if possible
.ng-table th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sortable {
  cursor: pointer;
}

.sort-desc,
.sort-asc {
  background-color: $blue-light;
}


// ============================================================================
// Attributes
// ============================================================================

.attributes {
  @include clearfix;
  margin-bottom: 1em;
  width: 100%;
  background-color: $white;

  @include bp(c6) {
    background-color: $white;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjMiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4zIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, $blue-med),color-stop(0.3, $blue-med),color-stop(0.3, rgb(255, 255, 255)),color-stop(1, rgb(255, 255, 255)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(left,$blue-med 0%,$blue-med 30%,rgb(255, 255, 255) 30%,rgb(255, 255, 255) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to right,$blue-med 0%,$blue-med 30%,rgb(255, 255, 255) 30%,rgb(255, 255, 255) 100%);
    background-image: -ms-repeating-linear-gradient(left,$blue-med 0%,$blue-med 30%,rgb(255, 255, 255) 30%,rgb(255, 255, 255) 100%);
  }

  .errors {
    min-height: $base-line-height;
    min-width: $base-line-height;
  }
}

.key {
  @include box-sizing(border-box);
  //background: $blue-med;
  clear: left;
  color: $blue;
  font-weight: bold;
  margin: 0;
  padding: $base-xs $base 0;
  border-top: 1px solid #628eb7;

  &:first-child {
    border-top: none;
  }

  &:last-child {
  }

  @include bp(c6) {
    color: $white;
    font-weight: normal;
    padding-bottom: $base-xs;
    float: left;
    width: 30%;
  }
}

.value {
  @include box-sizing(border-box);
  @include word-break;
  color: $blue;
  margin: 0;
  padding: 0 $base $base-sm;

  @include bp(c6) {
    padding-top: $base-xs;
    float: left;
    width: 70%;
    border-top: 1px solid #628eb7;

    &:nth-child(2) {
      border-top: none;
    }
  }

  a {
    border-bottom: 1px solid $blue-dark;
    &:hover, &:focus {
      border-color: $hover-link-color;
    }
  }
}


// ============================================================================
// Errors
// ============================================================================
// 

.accordion {
  margin-top: 1em;
  h5 {
    margin-top: 0;
  }
}

.table-errors {

  h3 {
    font-size: 1em;
    color: $red;
  }

  td {
    vertical-align: top;
    padding: 0;
    position: relative;
  }

  td > a {
    display: block;
    padding: $base;
    color: $black;
  }
  td.toggle-td {
    padding-right: $base-xl;
  }
}

.error-toggle {
  position: absolute;
  right: $base;
  top: $base;
  color: $blue;
}


// ============================================================================
// Aside
// ============================================================================
aside {
  color: $gray-medium; 

  h2 {
    color: $gray-medium;
    font-size: 0.875em;
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: $base-sm;

    @include bp(c6) {
      font-size: 1.5em;
      font-size: 1.5rem;

    }
  }
}

.aside-nav {
  @include bp(c6) {
    @include clearfix;

    .button-errors, .feed-nav, .button-approve, p.helper, {
      @include span-columns(3 of 6);
    }

    .feed-nav {
      float: left;
      margin-left: 0;
    }
  }

  @include bp(c12) {
    .button-errors, .feed-nav, .button-approve, p.helper, {
      float: none;
      width: 100%;
      margin-left: 0; 
    }
  }
}

.contact-wrap {
  display: none;

  @include bp(c12) {
    display: block;
  }

  a {
    color: $gray-medium;
    text-decoration: none;
    border-bottom: 1px solid $blue-dark;
    line-height: 1.25;

    &:hover, &:focus {
      color: $white;
      border-color: $white;
    }
  }
}

.dl-feed {
  @include word-break;
  font-size: 0.875em;
  font-size: 0.875rem;
  line-height: 1.5;
  a {
    color: $white;
    border-bottom: 1px solid $white;
  }
}

// ============================================================================
// Feed Meta
// ============================================================================

.feed-title {
  cursor: pointer;

  @include bp(c12) {
    cursor: default;
    padding-top: $base-sm;
  }

  h2 {
    color: $white;
    font-weight: bold;
    margin-bottom: 0;
    @include word-break;
    position: relative;
  }

  i {
    position: absolute;
    right: 0;
    top: 0;
    @include bp(c12) {
      display: none;
    }
  }
}

.details {
  //background: $gray-light;
  //color: $black;
}

.button-errors {
  display: block;
  background: $red;
  color: $white;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: $base-sm;
  margin-bottom: $base;
  border: 2px solid $white;
  border-radius: 15px;  
  width: 100%;

  &:hover, &:focus {
    background: #f33;
    color: $white;
  }

  time {
    display: block;
    color: $red-dark;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
  }
}

.feed-status {
  font-size: .875em;
  margin-top: 1em;
}

.feed-nav ul {
  @extend .no-bullet;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $gray-medium;
  border-radius: 15px;
  margin-bottom: $base;

  li {
    color: $gray-light;
    border-top: 2px solid $gray-medium;

    > * {
      display: block;
      opacity: 0.4;
      padding: $base-sm;      
    }

    &:first-child {
      border-top: none;
      > * {
        border-radius: 15px 15px 0 0;
      }
    }

    &:last-child > * {
      border-radius: 0 0 15px 15px;
    }

    a {
      color: $gray-medium;
      background: $blue-darkest;
      opacity: 1;
      &:hover, &:focus {
        color: $white;
      }
    }
  }

  .is-finished {
  }

  .is-started {
  }

  .is-unstarted {
  }
}

.button-approve {
  font-size: 1.125em;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  color: $white;
  display: block;
  margin: 0 0 1em;
  padding: $base-sm;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 15px;
  border: 2px solid $white;
  background: $green-dark;

  &:hover, &:focus {
    color: $white;
    background: #0c6;
  }

  h3 {
    font-size: 1.25em;
    font-size: 1.25rem;
    margin-bottom: $base-sm;
  }
}

.vcard {

  span {
    display: block;
  }

  .fn {
    font-weight: bold;
  }

  .title {
    font-style: italic;
  }
}


// ============================================================================
// Map
// ============================================================================

.map {
  margin-bottom: 1em;
  max-width: 100%;
  min-height: 200px;
  color: black;
  @media screen and (min-height: 340px){
    min-height: 300px;
  }
  @media screen and (min-height: 400px){
    min-height: 360px;
  }
  @media screen and (min-height: 450px){
    min-height: 410px;
  }
  @media screen and (min-height: 480px){
    min-height: 440px;
  }
  @media screen and (min-height: 520px){
    min-height: 480px;
  }
}


// ============================================================================
// Search
// ============================================================================
form[role="search"] {
  margin-bottom: $base;

  input[type="search"]{
    background: transparent;
    font-style: italic;
    padding: $base-sm $base;
    border-radius: 30px;
    border-width: 2px;
  }
}


// ============================================================================
// Breadcrumbs
// ============================================================================
.breadcrumbs {
  display: none;
  margin: 0 0 $base-med;

  @include bp(c6) {
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    display: inline;
    margin: 0;

    &:before {
      color: $gray-medium;
      content: "/";
      margin: 0 $base-xs;
    }

    &:first-child:before {
      content: " ";
      margin: 0;
    }
  }

  a {
    line-height: 1.25;
    color: $gray-medium;
    text-decoration: none;
    border-bottom: 1px solid $blue-dark;
    display: inline-block;

    &:hover, &:focus {
      color: $white;
    }
  }

  .is-active a {
    color: $white;
    border: none;
    cursor: default;

    &:hover,
    &:focus {
    }
  }

}

// ============================================================================
// Pagination
// ============================================================================

.pagination {
  @include clearfix;
  @extend .no-bullet;
  margin-bottom: 1em;

  li {
    float: left;
    margin-right: 0.3125em;
  }

  a {
    font-size: 0.875em;
    color: $gray-medium;
    display: block;
    padding: .25em .75em;

    &:hover,
    &:focus {
      background: $gray-light;
    }
  }

  .is-active {
    background: $base-accent-color;
    color: $white;
    cursor: default;
    font-weight: bold;

    &:hover,
    &:focus {
      background: $base-accent-color;
    }
  }
}


// ============================================================================
// Error Count
// ============================================================================

.error-count {
  color: $white;
  font-weight: bold;
  padding: 0.1875em 0.625em 0.25em;
  display: inline-block;
  margin: 0 $base-sm $base;
  background: $red;
  border-radius: 15px;

  @include bp(c6) {
    margin-left: 0;
    margin-right: 0;
  }

  &:before {
    margin-right: 5px;
    font-family: "foundation-icons";
    content: "\f101";
  }

  &:hover, &:focus {
    background: #f33;
    color: $white;
  }
}

.error-count-0 {
  background-color: $green-dark;
  &:before {
    content: "\f126"; 
  }
  &:hover, &:focus {
    background-color: $green;
  }
}



// ============================================================================
// Page Specific
// ============================================================================

// Styleguide
// ----------------------------------------------------------------------------

.example {
  @include clearfix;
  border: 2px solid lighten($base-border-color, 10);
  margin: 2em 0;
  padding: 1em;
}

.swatches {
  @include clearfix;
  @extend .no-bullet;
  //float: left;
  //margin-bottom: 1em;
}

.swatch {
  @include size(7em);
  background: $gray-light;
  float: left;
  color: $black;
  
  &.blue {
    background: $blue;
  }
  &.blue-dark {
    background: $blue-dark;
  }
  &.blue-light {
    background: $blue-light;
  }
  &.blue-med {
    background: $blue-med;
  }

  &.red {
    background: $red;
  }
  &.red-dark {
    background: $red-dark;
  }
  &.red-light {
    background: $red-light;
  }
  &.yellow-light {
    background: $yellow-light;
  }
  &.green {
    background: $green;
  }
  &.green-light {
    background: $green-light;
  }

  &.black {
    background: $black;
    color: $white;
  }
  &.gray-dark {
    background: $gray-dark;
    color: $white;
  }
  &.gray-medium {
    background: $gray-medium;
  }
  &.gray-light {
    background: $gray-light;
  }
  &.white {
    background: $white;
    border: $base-border;
  }
}