/* module.scss */

// ============================================================================
// Alert Boxes
// ============================================================================

.alert-box {
  background: $notice-color;
  color: darken($notice-color, 60);
  font-weight: bold;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;
  position: relative;

  a {
    color: darken($notice-color, 70);

    &:hover {
      color: darken($notice-color, 90);
    }
  }
}

.alert-box.error {
  background: $error-color;
  color: darken($error-color, 60);

  a {
    color: darken($error-color, 70);

    &:hover {
      color: darken($error-color, 90);
    }
  }
}

.alert-box.success {
  background: $success-color;
  color: darken($success-color, 60);

  a {
    color: darken($success-color, 70);

    &:hover {
      color: darken($success-color, 90);
    }
  }
}

.close {
  color: $gray-dark;
  font-size: 1.375em;
  line-height: 0;
  opacity: 0.3;
  padding: $base-padding;
  position: absolute;
  right: 0.3125em;
  top: 0.4375em;
}

.close:hover,
.close:focus {
  opacity: 0.5;
}


// ============================================================================
// Associations
// ============================================================================

.associations {

  thead {

    @include bp(c6) {
      display: table-header-group;
    }
    display: none;
  }

  tbody {
    tr {
      &:hover {
        background: lighten($blue-light, 10);
      }

      > * {
        // padding:0;
      }
    }
  }

  a {
    //display: block;
    //padding: ($base-line-height / 2) 0;

    &:hover {
      color: $base-link-color;
    }
  }

  tr {

    @include bp(c6) {
      border: none;
    }
    border-top: $base-border;
  }

  td {

    @include bp(c6) {
      border-top: $base-border;
      clear: none;
      float: none;
    }
    border: none;
    clear: left;
    float: left;
  }

  .admin {
    border: none;
    padding-left: 1em;
  }

  .address:before {

    @include bp(c6) {
      content: none;
    }
    content: "Address ";
  }

  .id:before {

    @include bp(c6) {
      content: none;
    }
    content: "ID ";
  }

  .name:before {

    @include bp(c6) {
      content: none;
    }
    content: "Name ";
  }

  .precinct-splits:before {

    @include bp(c6) {
      content: none;
    }
    content: "Precinct Splits ";
  }

}

// TODO: remove if possible
.ng-table th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sortable {
  cursor: pointer;
}

.sort-desc,
.sort-asc {
  background-color: $blue-light;
}


// ============================================================================
// Attributes
// ============================================================================

.attributes {
  @include clearfix;
  background: $white;
  color: $blue;
  margin-bottom: 1em;
  width: 100%;

  .errors {
    min-height: $base-line-height;
    min-width: $base-line-height;
  }
}

.key {
  @include box-sizing(border-box);

  @include bp(c6) {
    float: left;
    padding: .25em;
    text-align: right;
    width: 30%;
  }
  border-top: $base-border;
  clear: left;
  color: $gray-medium;
  font-weight: normal;
  margin: 0;
  padding-top: .25em;
}

.value {
  @include box-sizing(border-box);

  @include bp(c6) {
    border-top: $base-border;
    float: left;
    padding: .25em;
    width: 70%;
  }
  margin: 0;
  padding-bottom: .25em;
}


// ============================================================================
// Errors
// ============================================================================
// TODO: rename accordion

.accordion {
  margin-top: 1em;
  h5 {
    margin-top: 0;
  }
}


// ============================================================================
// Aside
// ============================================================================
aside {
  color: $gray-light; 

  h2 {
    color: $gray-light;
    font-size: 1.5em;
    font-size: 1.5rem;
    font-weight: normal;
  }
}


// ============================================================================
// Feed Meta
// ============================================================================

.feed-title {
  background-color: $gray-medium;
  cursor: pointer;

  @include bp(c12) {
    background-color: transparent;
    cursor: default;
  }

  h2 {
    color: $white;
    font-weight: bold;
    @include word-break;

    @include bp(c12) {
      font-size: 2em;
      font-size: 2rem;
    }
  }
}

.details {
  //background: $gray-light;
  //color: $black;
}

.button-errors {
  //@extend %button;
  display: block;
  background: $red;
  color: $white;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: $base-sm;
  border: 2px solid $white;
  border-radius: 15px;

  time {
    display: block;
    color: $red-dark;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
  }
}

.feed-status {
  font-size: .875em;
  margin-top: 1em;
}

.feed-nav ul {
  @extend .no-bullet;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
  border: 2px solid $gray-light;
  border-radius: 15px;

  li {
    // margin-bottom: .125em;
    color: $gray-light;
    border-top: 2px solid $gray-light;
    > * {
      // @extend %button;
      // background-color: $gray-medium;
      // display: block;
      // text-align: left;
      display: block;
      opacity: 0.4;
      padding: $base-sm;      
    }
    &:first-child {
      border-top: none;
      > * {
        border-radius: 15px 15px 0 0;
      }
    }
    &:last-child > * {
      border-radius: 0 0 15px 15px;
    }
    a {
      color: $gray-light;
      opacity: 1;
    }
  }

  .is-finished {
  }

  .is-started {
  }

  .is-unstarted {
  }
}

.button-approve {
  @extend %button;
  display: block;
  margin: 1em 0;
}

.vcard {

  span {
    display: block;
  }

  .fn {
    font-weight: bold;
  }

  .title {
    font-style: italic;
  }
}


// ============================================================================
// Map
// ============================================================================

.map {
  margin-bottom: 1em;
  max-width: 100%;
  min-height: 480px;

  .data-group-header + & {
    top: 1em;
  }
}


// ============================================================================
// Search
// ============================================================================
form[role="search"] {
  margin-bottom: $base;

  input[type="search"]{
    background: transparent;
    font-style: italic;
    padding: $base-sm $base;
    border-radius: 30px;
    border-width: 2px;
  }
}


// ============================================================================
// Breadcrumbs
// ============================================================================
.breadcrumbs {
  display: none;
  margin: 0 0 $base-med;
  overflow: hidden;

  @include bp(c6) {
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    display: inline;
    margin: 0;

    &:before {
      color: $gray-medium;
      content: "/";
      margin: 0 $base-xs;
      //position: relative;
      //top: .1em;
    }

    &:first-child:before {
      content: " ";
      margin: 0;
    }
  }

  a {
    color: $gray-light;
    text-decoration: underline;

    &:hover, &:focus {
      
    }
  }

  .is-active a {
    color: $white;
    text-decoration: none;
    cursor: default;

    &:hover,
    &:focus {
    }
  }

}

// ============================================================================
// Pagination
// ============================================================================

.pagination {
  @include clearfix;
  @extend .no-bullet;
  margin-bottom: 1em;

  li {
    float: left;
    margin-right: 0.3125em;
  }

  a {
    font-size: 0.875em;
    color: $gray-medium;
    display: block;
    padding: .25em .75em;

    &:hover,
    &:focus {
      background: $gray-light;
    }
  }

  .is-active {
    background: $base-accent-color;
    color: $white;
    cursor: default;
    font-weight: bold;

    &:hover,
    &:focus {
      background: $base-accent-color;
    }
  }
}


// ============================================================================
// Page Specific
// ============================================================================

// Styleguide
// ----------------------------------------------------------------------------

.example {
  @include clearfix;
  border: 2px solid lighten($base-border-color, 10);
  margin: 2em 0;
  padding: 1em;
}

.swatches {
  @include clearfix;
  @extend .no-bullet;
  //float: left;
  //margin-bottom: 1em;
}

.swatch {
  @include size(7em);
  background: $gray-light;
  float: left;
  color: $black;
  
  &.blue {
    background: $blue;
  }
  &.blue-dark {
    background: $blue-dark;
  }
  &.blue-light {
    background: $blue-light;
  }
  &.blue-med {
    background: $blue-med;
  }

  &.red {
    background: $red;
  }
  &.red-dark {
    background: $red-dark;
  }
  &.red-light {
    background: $red-light;
  }
  &.yellow-light {
    background: $yellow-light;
  }
  &.green {
    background: $green;
  }
  &.green-light {
    background: $green-light;
  }

  &.black {
    background: $black;
    color: $white;
  }
  &.gray-dark {
    background: $gray-dark;
    color: $white;
  }
  &.gray-medium {
    background: $gray-medium;
  }
  &.gray-light {
    background: $gray-light;
  }
  &.white {
    background: $white;
    border: $base-border;
  }
}