/* state.scss */

::-moz-selection {
  background: $yellow-light;
  text-shadow: none;
}

::selection {
  background: $yellow-light;
  text-shadow: none;
}

.is-loading {
  background: url(/assets/images/spinner.gif) no-repeat;
  min-width: 30px;
  min-height: 30px;
  display: inline-block;
}

.is-loading-small {
  background: url(/assets/images/spinner-small.gif) no-repeat;
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
}
