/* table.scss */

// caption
// table
// tbody
// td
// tfoot
// th
// thead
// tr

table {
  margin: 0 0 $base;
  width: 100%;
  text-align: left;
  background: $white;
  color: $blue;
}

caption {
  background: $white;
  font-size: 1.5em;
  font-size: 1.5rem;
  padding: $base;
}

th {
  //border-bottom: 1px solid darken($base-border-color, 15%);
  font-size: 0.875em;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: $base;
}

td {
  border-top: 1px solid $blue;
  padding: $base;
}

tr,
td,
th {
  vertical-align: middle;
}

.numeric {

  @include bp(c6) {
    text-align: right;
  }
}

.fatal-caption {
  background-color: $red;
  color: $white;
  text-align: left;
}

.errors-caption {
  background-color: $blue;
  color: $white;
  text-align: left;
}
