/* typography.scss */

// ============================================================================
// Base Elements
// ============================================================================

// html

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}


// ============================================================================
// Block-level Elements (alphabetical order)
// ============================================================================

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

// figcaption

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  @include word-break;
  font-size: 2.25em; // 36px
  font-size: 2.25rem;
  margin-bottom: $base-sm;
  @include bp(c6) {
    margin-bottom: 0;
  }
}

h2 {
  font-size: 2em; // 16 * 2 = 32px
  font-size: 2rem;
}

h3 {
  font-size: 1.75em; // 16 * 1.75 = 28px
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5em; // 16 * 1.5 = 24px
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25em; // 16 * 1.25 = 20px
  font-size: 1.25rem;
}

h6 {
  font-size: 1em;
  font-size: 1rem;
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

p {
  margin: 0 0 ($base-line-height * .5);
}

.helper {
  font-style: italic;
  line-height: 1.125;
  text-align: center;
  padding: $base $base-med;
  border: 2px solid $gray-light;
  border-radius: 15px;
  opacity: 0.4;
}

.helper_forgotpassword {
  font-size: .75em;
  font-size: .75rem;
  font-style: italic;
  line-height: 1.125;
  text-align: center;
  padding: $base-sm;
  border: 2px solid $gray-light;
  border-radius: 5px;
  opacity: 0.4;
  color: white;
  margin-left: 10px;

  &:hover {
    color: white;
  }

}

// pre

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
  margin-bottom: $base-line-height / 2;
  padding-left: $base-line-height;
}

ol {
  list-style-type: decimal;
  margin-bottom: $base-line-height / 2;
  padding-left: $base-line-height;
}

.no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}


// ============================================================================
// Inline Elements (alphabetical order)
// ============================================================================

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

abbr,
acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

// b

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

// code

del {
  color: lighten($base-font-color, 15);
}

// dfn
// em
// i
// ins
// kbd
// mark
// q
// s
// samp
// small
// strong
// sub
// summary
// sup
// time
// u
// var