/* variables-and-mixins.scss */

// ============================================================================
// Typography
// ============================================================================

// $base-font-family: $georgia;
// $header-font-family: $helvetica;

$base-font-family: 'Source Sans Pro', sans-serif;
$header-font-family: 'Source Sans Pro', sans-serif;

// ============================================================================
// Sizes
// ============================================================================

$base: 1em;
$base-xs: $base/4;
$base-sm: $base/2;
$base-med: $base * 1.5;
$base-lg: $base * 2;
$base-xl: $base * 3;
$base-xxl: $base * 4;

$base-font-size: 1em;
$base-font-rem: 1rem;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);


// ============================================================================
// Colors
// ============================================================================

// $blue is used for text
$blue:          #33699c;
$blue-dark:     #3c5f87;
$blue-med:      #006cb1;
$blue-light:    #b7dbff;

//$red:           #cc3333;
$red:           #ce3d3d;
$red-light:     #fbe3e4;
$red-dark:      #600;

$yellow-light:  #fff6bf;

//$green:         #849b29;
$green:         #0c6;
$green-light:   #e6efc2;

$black:         #000;
$gray-dark:     #333;
$gray-medium:   #999;
$gray-light:    #b1b3b6;
$white:         #fff;

// Font Colors
// ----------------------------------------------------------------------------
$base-font-color: $white;
$base-accent-color: $blue-dark;

// Text Link Colors
// ----------------------------------------------------------------------------
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
// ----------------------------------------------------------------------------
$base-border-color: $gray-light;

// Flash Colors
// ----------------------------------------------------------------------------
$error-color: $red-light;
$notice-color: $yellow-light;
$success-color: $green-light;


// ============================================================================
// Forms
// ============================================================================

$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 .1em .3em hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 .3em rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

$base-border: 1px solid $base-border-color;
$base-padding: .5em 1em;


// ============================================================================
// Mixins
// ============================================================================
@mixin word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  // Non standard for webkit
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin span-columns($span: $columns of $container-columns) {
  $columns: nth($span, 1);
  $container-columns: nth($span, 3);
  $gutter: 0;

  @if $container-columns == 6 {
    $gutter: percentage(24/480);
  } @else if $container-columns == 12 {
    $gutter: percentage(36/972);
  } @else if $container-columns == 16 {
    $gutter: percentage(36/1308);
  } @else {
    $gutter: percentage(18/258);
  }

  $width: (((100% - (($container-columns - 1) * $gutter)) / $container-columns) * $columns)+ (($columns - 1) * $gutter);

  float: right;
  margin-left: $gutter;
  width: $width;

  &:last-child {
    margin-left: 0;
  }
}

@mixin bp($point) {

  $c6: "(min-width: 600px)";
  $c12: "(min-width: 1116px)";
  $c16: "(min-width: 1452px)";

  @if $point == c16 {
    @media #{$c16} { @content; }
  }
  @else if $point == c12 {
    @media #{$c12} { @content; }
  }
  @else if $point == c6 {
    @media #{$c6}  { @content; }
  }

}
