<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/contests">Contests</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/contests/320004744">320004744</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/contests/320004744/ballot">Ballot</a>
</nav>

<h1>Ballot ID: 410004744</h1>

<div class="content">

  <dl class="attributes">
    <dt class="key">Sort Order:</dt>
    <dd class="value"></dd>
    <dt class="key">Write In:</dt>
    <dd class="value"></dd>
    <dt class="key">Image URL:</dt>
    <dd class="value"></dd>
  </dl>

  <section class="data-group">
    <!-- This Ballot has candidates, but the same treatment applies to custom ballots and referendums. -->

    <h2>3 Candidates</h2>

    <table class="associations">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Party</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="id"><a href="#">310007675</a></td>
          <td class="name"><a href="#">Barack Obama</a></td>
          <td class="party"><a href="#">DEM</a></td>
        </tr>
        <tr>
          <td class="id"><a href="#">310007676</a></td>
          <td class="name"><a href="#">Mitt Romney</a></td>
          <td class="party"><a href="#">REP</a></td>
        </tr>
        <tr>
          <td class="id"><a href="#">310007677</a></td>
          <td class="name"><a href="#">Gary Johnson</a></td>
          <td class="party"><a href="#">LIB</a></td>
        </tr>
      </tbody>
    </table>

  </section>

  <p><mark>Option for Referendum</mark></p>

  <section class="data-group">
    <!-- Referendum example -->

    <h2>Referendum ID: 90011</h2>

    <dl class="attributes">
      <dt class="key">Title:</dt>
      <dd class="value">Proposition 37</dd>
      <dt class="key">Subtitle:</dt>
      <dd class="value">A referendum to ban smoking indoors</dd>
      <dt class="key">Brief:</dt>
      <dd class="value">A yes vote is a vote to ban smoking indoors.</dd>
      <dt class="key">Text:</dt>
      <dd class="value">Shall the State of Ohio ... (full text of referendum as it appears on the ballot).</dd>
      <dt class="key">Pro Statement:</dt>
      <dd class="value">Vote yes please</dd>
      <dt class="key">Con Statement:</dt>
      <dd class="value">Vote no please</dd>
      <dt class="key">Passage Threshold:</dt>
      <dd class="value">three-fifths</dd>
      <dt class="key">Effect Of Abstain:</dt>
      <dd class="value">Abstaining has no effect</dd>
      <dt class="key">Informational Url:</dt>
      <dd class="value"></dd>
      <dt class="key">Sort Order:</dt>
      <dd class="value"></dd>
    </dl>

    <table class="associations">
      <thead>
        <tr>
          <th>ID</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>120001</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>120002</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

  </section>

  <p><mark>Option for Custom Ballot</mark></p>

  <section class="data-group">
    <!-- Custom Ballot example -->

    <h2>Custom Ballot ID: 90012</h2>

    <dl class="attributes">
      <dt class="key">Heading:</dt>
      <dd class="value">Should Judge Carlton Smith be retained?</dd>
      <dt class="key">Sort Order:</dt>
      <dd class="value"></dd>
    </dl>

    <table class="associations">
      <thead>
        <tr>
          <th>ID</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>120001</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>120002</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

  </section>

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>