<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/contests">Contests</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/contests/320004744">320004744</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/contests/320004744/ballot">Ballot</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/contests/320004744/ballot/candidates">Candidates</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/contests/320004744/ballot/candidates/310007675">310007675</a>
</nav>

<h1>Candidate ID: 310007675</h1>

<div class="content">

  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd class="value">Barack Obama</dd>
    <dt class="key">Incumbent:</dt>
    <dd class="value"></dd>
    <dt class="key">Party:</dt>
    <dd class="value">DEM</dd>
    <dt class="key">Biography:</dt>
    <dd class="value"></dd>
    <dt class="key">Phone:</dt>
    <dd class="value"></dd>
    <dt class="key">Photo Url:</dt>
    <dd class="value"></dd>
    <dt class="key">Filed Mailing Address:</dt>
    <dd class="value"></dd>
    <dt class="key">Email:</dt>
    <dd class="value"></dd>
    <dt class="key">Sort Order:</dt>
    <dd class="value"></dd>
  </dl>

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>