<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/early_vote_sites">Early Vote Sites</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/early_vote_sites/240017">240017</a>
</nav>

<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities">Localities</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">1001</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/early_vote_sites">Early Vote Sites</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/early_vote_sites/240017">240017</a>
</nav>

<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities">Localities</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">1001</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts">Precincts</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts/101">101</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts/101/early-vote-sites">Early Vote Sites</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts/101/early_vote_sites/240017">240017</a>
</nav>

<h1>Early Vote Site ID: 240017</h1>

<div class="content">

  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd class="value">Court Services</dd>
    <dt class="key">Address:</dt>
    <dd class="value">Court Services, 201 W Elm St, Graham, NC 27253</dd>
    <dt class="key">Directions:</dt>
    <dd class="value"></dd>
    <dt class="key">Voter Services:</dt>
    <dd class="value">Boe Early Voting Site</dd>
    <dt class="key">Start Date:</dt>
    <dd class="value">2012/10/18</dd>
    <dt class="key">End Date:</dt>
    <dd class="value">2012/11/03</dd>
    <dt class="key">Days Times Open:</dt>
    <dd class="value">Thursday, October 18 - Friday, October 19         8:00 a.m. - 5:00 p.m.Monday, October 22 - Friday, October 26           8:00 a.m. - 5:00 p.m.Saturday, October 27                              9:00 a.m. - 3:00 p.m.Monday, October 29 - Friday, November 2           8:00 a.m. - 5:00 p.m.Saturday, November 3                              9:00 a.m. - 1:00 p.m.</dd>
  </dl>

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>