<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities">Localities</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">1001</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/election_administration">Election Administration</a>
</nav>

<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/election_administration">Election Administration</a>
</nav>

<h1>Election Administration ID: 22001</h1>

<div class="content">

  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd class="value">Alamance County Board of Elections</dd>
    <dt class="key">Physical Address:</dt>
    <dd class="value">115 South Maple Street, Graham, NC 27253</dd>
    <dt class="key">Mailing Address:</dt>
    <dd class="value">115 South Maple Street, Graham, NC 27253</dd>
    <dt class="key">Phone:</dt>
    <dd class="value"></dd>
    <dt class="key">Email:</dt>
    <dd class="value"></dd>
    <dt class="key">Elections URL:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
    <dt class="key">Registration URL:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
    <dt class="key">Am I Registered URL:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
    <dt class="key">Absentee URL:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
    <dt class="key">Where Do I Vote URL:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
    <dt class="key">What Is On My Ballot URL:</dt>
    <dd class="value"></dd>
    <dt class="key">Rules URL:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
    <dt class="key">Voter Services:</dt>
    <dd class="value"></dd>
    <dt class="key">Hours:</dt>
    <dd class="value"></dd>
  </dl>

  <section class="data-group">
    <h2>Election Official</h2>

    <dl class="attributes">
      <dt class="key">Name:</dt>
      <dd class="value">Stephen Tyler</dd>
      <dt class="key">Title:</dt>
      <dd class="value">Director of Elections</dd>
      <dt class="key">Phone:</dt>
      <dd class="value">555-555-5555<dd>
      <dt class="key">Fax:</dt>
      <dd class="value">555-555-5556<dd>
      <dt class="key">Email:</dt>
      <dd class="value"><a href="mailto:stephen@state.gov">stephen@state.gov</a></dd>
    </dl>
  </section>

  <section class="data-group">
    <h2>Overseas Voter Contact</h2>

    <dl class="attributes">
      <dt class="key">Name:</dt>
      <dd class="value">Stephen Tyler</dd>
      <dt class="key">Title:</dt>
      <dd class="value">Director of Elections</dd>
      <dt class="key">Phone:</dt>
      <dd class="value">555-555-5555<dd>
      <dt class="key">Fax:</dt>
      <dd class="value">555-555-5556<dd>
      <dt class="key">Email:</dt>
      <dd class="value"><a href="mailto:stephen@state.gov">stephen@state.gov</a></dd>
    </dl>
  </section>

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>