<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities">Localities</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">1001</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/election_administration">Election Administration</a>
</nav>

<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2">Vipfeed 37 2012 11 06 2</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/election_administration">Election Administration</a>
</nav>

<h1>Election Administration ID: 22001</h1>

<a class="error-count" href="/feeds/vipfeed-37-2012-11-06-2/election/state/election_administration/errors">115 Errors in Election Administration ID: 22001</a>

<dl class="attributes">
  <dt class="key">Name:</dt>
  <dd class="value">Alamance County Board of Elections</dd>
  <dt class="key">Physical Address:</dt>
  <dd class="value">115 South Maple Street, Graham, NC 27253</dd>
  <dt class="key">Mailing Address:</dt>
  <dd class="value">115 South Maple Street, Graham, NC 27253</dd>
  <dt class="key">Phone:</dt>
  <dd class="value"></dd>
  <dt class="key">Email:</dt>
  <dd class="value"></dd>
  <dt class="key">Elections URL:</dt>
  <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
  <dt class="key">Registration URL:</dt>
  <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
  <dt class="key">Am I Registered URL:</dt>
  <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
  <dt class="key">Absentee URL:</dt>
  <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
  <dt class="key">Where Do I Vote URL:</dt>
  <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
  <dt class="key">What Is On My Ballot URL:</dt>
  <dd class="value"></dd>
  <dt class="key">Rules URL:</dt>
  <dd class="value"><a href="http://www.ncsbe.gov/">http://www.ncsbe.gov/</a></dd>
  <dt class="key">Voter Services:</dt>
  <dd class="value"></dd>
  <dt class="key">Hours:</dt>
  <dd class="value"></dd>
</dl>

<section class="data-group">
  <h2>Election Official</h2>

  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd class="value">Stephen Tyler</dd>
    <dt class="key">Title:</dt>
    <dd class="value">Director of Elections</dd>
    <dt class="key">Phone:</dt>
    <dd class="value">555-555-5555<dd>
    <dt class="key">Fax:</dt>
    <dd class="value">555-555-5556<dd>
    <dt class="key">Email:</dt>
    <dd class="value"><a href="mailto:stephen@state.gov">stephen@state.gov</a></dd>
  </dl>
</section>

<section class="data-group">
  <h2>Overseas Voter Contact</h2>

  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd class="value">Stephen Tyler</dd>
    <dt class="key">Title:</dt>
    <dd class="value">Director of Elections</dd>
    <dt class="key">Phone:</dt>
    <dd class="value">555-555-5555<dd>
    <dt class="key">Fax:</dt>
    <dd class="value">555-555-5556<dd>
    <dt class="key">Email:</dt>
    <dd class="value"><a href="mailto:stephen@state.gov">stephen@state.gov</a></dd>
  </dl>
</section>
