<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06">vipfeed-37-2012-11-06</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
</nav>

<h1>Election ID: 4000</h1>

<a class="error-count" href="/feeds/vipfeed-37-2012-11-06-2/election/errors">115 Errors in Election ID: 4000</a>

<div class="content">

  <dl class="attributes">
    <dt class="key">Date:</dt>
    <dd class="value">2012/11/06</dd>
    <dt class="key">Election Type:</dt>
    <dd class="value">Federal</dd>
    <dt class="key">Statewide</dt>
    <dd class="value"></dd>
    <dt class="key">Registration Info:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/content.aspx?id=23">http://www.ncsbe.gov/content.aspx?id=23</a></dd>
    <dt class="key">Absentee Ballot Info:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/content.aspx?id=16">http://www.ncsbe.gov/content.aspx?id=16</a></dd>
    <dt class="key">Results URL:</dt>
    <dd class="value"><a href="http://www.ncsbe.gov/content.aspx?id=69">http://www.ncsbe.gov/content.aspx?id=69</a></dd>
    <dt class="key">Polling Hours:</dt>
    <dd class="value"></dd>
    <dt class="key">Election Day Registration:</dt>
    <dd class="value">No</dd>
    <dt class="key">Registration Deadline:</dt>
    <dd class="value">2012/10/12</dd>
    <dt class="key">Absentee Request Deadline:</dt>
    <dd class="value"></dd>
  </dl>

  <section class="data-group">
    <h2>State</h2>

    <table class="associations">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Localities</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="id"><a href="#">37</a></td>
          <td class="name"><a href="#">North Carolina</a></td>
          <td class="localities"><a href="#">100</a></td>
        </tr>
      </tbody>
    </table>

  </section>


  <section class="data-group">
    <h2>976 Contests</h2>

    <table class="associations">
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Office / Referendum / Custom</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="id"><a href="#">320004744</a></td>
          <td class="type"><a href="#">General</a></td>
          <td class="office"><a href="#">US President</a></td>
        </tr>
        <tr>
          <td class="id"><a href="#">60001</a></td>
          <td class="type"><a href="#">General</a></td>
          <td class="office"><a href="#">State Treasurer</a></td>
        </tr>
        <tr>
          <td class="id"><a href="#">60006</a></td>
          <td class="type"><a href="#">Referendum</a></td>
          <td class="referendum"><a href="#">Proposition 37</a></td>
        </tr>
        <tr>
          <td class="id"><a href="#">60007</a></td>
          <td class="type"><a href="#">Judge Retention</a></td>
          <td class="custom-ballot"><a href="#">Should Judge Carlton Smith be retained?</a></td>
        </tr>
      </tbody>
    </table>
  </section>

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>