<nav class="breadcrumbs">
  <a class="current" href="#">Errors</a>
</nav>

<h1>875 Total Feed Errors</h1>

<section class="data-group">

<!-- Could the following be formatted as an accordion without using the `accordion` tag
from http://angular-ui.github.io/bootstrap/#/accordion. The concern is that the specialized tag might have issues in earlier versions of IE -->

<!-- First item open automatically -->
<!-- One item open at a time -->
<!-- Ordered based on error count -->

  <ul class="error-list"><!-- <accordion> -->
    <li class="error-item"><!-- <accordion-group> -->

      <div class="error-item-header">752 Warning: overlapping street segment in precinct</div><!-- <accordion-heading> -->

      <p>All values for an element are the exact same as another element in all instances except for their ID.</p>

      <pre><code>&lt;locality id=&quot;1001&quot;&gt;
&lt;name&gt;Adams&lt;/name&gt;
&lt;state_id&gt;39&lt;/state_id&gt;
&lt;type&gt;county&lt;/type&gt;
&lt;early_vote_site_id&gt;30203&lt;/early_vote_site_id&gt;
&lt;/locality&gt;</code></pre>

      <button>Download Report</button>
    </li>
  </ul>

  <button>Download Full Report</button>

</section>
