<nav class="breadcrumbs">
  <a class="current" href="#">Errors</a>
</nav>

<h1>875 Total Feed Errors</h1>

<div class="content">

  <section class="data-group">

  <!-- Could the following be formatted as an accordion without using the `accordion` tag
  from http://angular-ui.github.io/bootstrap/#/accordion. The concern is that the specialized tag might have issues in earlier versions of IE -->

  <!-- First item open automatically -->
  <!-- One item open at a time -->
  <!-- Ordered based on error count -->

    <ul class="error-list"><!-- <accordion> -->
      <li class="error-item"><!-- <accordion-group> -->

        <div class="error-item-header">752 Warning: overlapping street segment in precinct</div><!-- <accordion-heading> -->

        <p>All values for an element are the exact same as another element in all instances except for their ID.</p>

        <pre><code>&lt;locality id=&quot;1001&quot;&gt;
  &lt;name&gt;Adams&lt;/name&gt;
  &lt;state_id&gt;39&lt;/state_id&gt;
  &lt;type&gt;county&lt;/type&gt;
  &lt;early_vote_site_id&gt;30203&lt;/early_vote_site_id&gt;
&lt;/locality&gt;</code></pre>

        <button>Download Report</button>
      </li>
    </ul>

    <button>Download Full Report</button>

  </section>

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>