<div class="content">

  <section class="data-group finished">
    <header class="data-group-header">
      <h2>Source</h2>
      <a class="more-detail" href="/feeds/vipfeed-37-2012-11-06-2/source">More Detail </a>
    </header>
  </section><!-- /.data-group -->

  <section class="data-group finished">
    <header class="data-group-header">
      <h2>Election</h2>
      <a class="more-detail" href="/feeds/vipfeed-37-2012-11-06-2/election">More Detail </a>
    </header>
  </section><!-- /.data-group -->

  <section class="data-group started">
    <header class="data-group-header">
      <h2>Polling Locations</h2>
      <a class="more-detail" href="/feeds/vipfeed-37-2012-11-06-2/election/state">More Detail </a>
    </header>

    <table class="overview">
      <thead>
        <tr>
          <th>Element Type</th>
          <th>Amount</th>
          <th>Completion</th>
          <th>Errors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="element-type">Localities</td>
          <td class="amount">100</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-6"></span>
              <span class="counter">6% complete</span>
            </div>
          </td>
          <td class="element-errors"><span class="errors none">0</span></td>
        </tr>
        <tr>
          <td class="element-type">Electoral Districts</td>
          <td class="amount">976</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-21"></span>
              <span class="counter">21% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">888</a></td>
        </tr>
        <tr>
          <td class="element-type">Precincts</td>
          <td class="amount">2,756</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-94"></span>
              <span class="counter">94% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">206</a></td>
        </tr>
        <tr>
          <td class="element-type">Precinct Splits</td>
          <td class="amount">8,467</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-54"></span>
              <span class="counter">54% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">8,407</a></td>
        </tr>
        <tr>
          <td class="element-type">Street Segments</td>
          <td class="amount">389,289</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-19"></span>
              <span class="counter">19% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">321,824</a></td>
        </tr>
        <tr>
          <td class="element-type">Polling Locations</td>
          <td class="amount">2,756</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-71"></span>
              <span class="counter">71% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">2,389</a></td>
        </tr>
        <tr>
          <td class="element-type">Early Vote Sites</td>
          <td class="amount">363</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-2"></span>
              <span class="counter">2% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">275</a></td>
        </tr>
        <tr>
          <td class="element-type">Election Administrations</td>
          <td class="amount">100</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-100"></span>
              <span class="counter">100% complete</span>
            </div>
          </td>
          <td class="element-errors"><span class="errors none">0</span></td>
        </tr>
        <tr>
          <td class="element-type">Election Officials</td>
          <td class="amount">101</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-77"></span>
              <span class="counter">77% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">81</a></td>
        </tr>
      </tbody>
    </table>

    <h3>100 Localities <small>(Counties)</small></h3>
    <img alt="Map nc" class="map" src="/assets/MAP-NC.gif">
  </section><!-- /.data-group -->

  <section class="data-group started">
    <header class="data-group-header">
      <h2>Contests</h2>
      <a class="more-detail" href="/feeds/vipfeed-37-2012-11-06-2/election/contests">More Detail </a>
    </header>

    <table class="overview">
      <thead>
        <tr>
          <th>Element Type</th>
          <th>Amount</th>
          <th>Completion</th>
          <th>Errors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="element-type">Contests</td>
          <td class="amount">976</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-0"></span>
              <span class="counter">0% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">14</a></td>
        </tr>
        <tr>
          <td class="element-type">Ballots</td>
          <td class="amount">976</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-38"></span>
              <span class="counter">38% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">140</a></td>
        </tr>
        <tr>
          <td class="element-type">Candidates</td>
          <td class="amount">1,761</td>
          <td class="completion">
            <div class="completeness">
              <span class="complete-91"></span>
              <span class="counter">91% complete</span>
            </div>
          </td>
          <td class="element-errors"><a class="errors" href="#">1,156</a></td>
        </tr>
        <tr>
          <td class="element-type">Referendums</td>
          <td class="amount">0</td>
          <td class="completion"><div class="completeness"></div></td>
          <td class="element-errors"></td>
        </tr>
        <tr>
          <td class="element-type">Custom Ballots</td>
          <td class="amount">0</td>
          <td class="completion"><div class="completeness"></div></td>
          <td class="element-errors"></td>
        </tr>
        <tr>
          <td class="element-type">Ballot Responses</td>
          <td class="amount">0</td>
          <td class="completion"><div class="completeness"></div></td>
          <td class="element-errors"></td>
        </tr>
      </tbody>
    </table>
  </section><!-- /.data-group -->

  <section class="data-group unstarted">
    <header class="data-group-header">
      <h2>Results</h2>

    </header>

    <table class="overview">
      <thead>
        <tr>
          <th>Element Type</th>
          <th>Amount</th>
          <th>Completion</th>
          <th>Errors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="element-type">Contest Results</td>
          <td class="amount">0</td>
          <td class="completion"><div class="completeness"></div></td>
          <td class="element-errors"></td>
        </tr>
        <tr>
          <td class="element-type">Ballot Line Results</td>
          <td class="amount">0</td>
          <td class="completion"><div class="completeness"></div></td>
          <td class="element-errors"></td>
        </tr>
      </tbody>
    </table>
  </section><!-- /.data-group -->

  <section class="data-group" id="history">
    <h2>History</h2>

    <dl class="history">

      <dt><time datetime="2012-10-18">2012/10/18</time></dt>
      <dd><time datetime="2012-10-18T09:16">9:16 A.M.</time> <strong>Approved</strong> - Tyler Bassen</dd>
      <dd><time datetime="2012-10-18T09:09">9:09 A.M.</time> <strong>Ready</strong></dd>
      <dd><time datetime="2012-10-18T09:08">9:08 A.M.</time> <strong>Processing</strong></dd>
      <dd><time datetime="2012-10-18T09:07">9:07 A.M.</time> Update submitted - Fixed the party affiliations. - Katy Peters</dd>
      <dd><time datetime="2012-10-18T01:05">1:05 A.M.</time> <strong>Revisions Needed</strong> - 5 Errors</dd>
      <dd><time datetime="2012-10-18T01:03">1:03 A.M.</time> <strong>Processing</strong></dd>
      <dd><time datetime="2012-10-18T01:02">1:02 A.M.</time> Update submitted - Last minute edits! - Stephen Miller</dd>

      <dt><time datetime="2012-10-17">2012/10/17</time></dt>
      <dd><time datetime="2012-10-17T15:18">3:18 P.M.</time> <strong>Published</strong></dd>
      <dd><time datetime="2012-10-17T15:16">3:16 P.M.</time> <strong>Approved</strong> - Tyler Bassen</dd>
      <dd><time datetime="2012-10-17T15:11">3:11 P.M.</time> <strong>Ready</strong></dd>
      <dd><time datetime="2012-10-17T09:08">9:08 A.M.</time> <strong>Processing</strong></dd>
      <dd><time datetime="2012-10-17T09:05">9:05 A.M.</time> Update submitted - Removed duplicate IDs. - Katy Peters</dd>
      <dd><time datetime="2012-10-17T09:00">9:00 A.M.</time> Update submitted - Removed orphan elements. - Stephen Miller</dd>

      <dt><time datetime="2012-10-16">2012/10/16</time></dt>
      <dd><time datetime="2012-10-16T16:25">4:25 P.M.</time> <strong>Revisions Needed</strong> - 175 Errors</dd>
      <dd><time datetime="2012-10-16T16:18">4:18 P.M.</time> <strong>Processing</strong></dd>
      <dd><time datetime="2012-10-16T16:16">4:16 P.M.</time> Update submitted - Revised street segment extraction. - Stephen Miller</dd>

      <dt><time datetime="2012-10-15">2012/10/15</time></dt>
      <dd><time datetime="2012-10-15T15:05">03:05 P.M.</time> <strong>Revisions Needed</strong> - 875 Errors</dd>

      <dt><time datetime="2012-10-14">2012/10/14</time></dt>
      <dd><time datetime="2012-10-14T10:21">10:21 A.M.</time> <strong>Processing</strong></dd>
      <dd><time datetime="2012-10-14T10:19">10:19 A.M.</time> <strong>Submitted</strong> - Stephen Miller</dd>
    </dl>

  </section><!-- /.history -->

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>