<h2>2 Column Break Point</h2>

<dl>
  <dt>Screen Width</dt>
  <dd>306 px</dd>
  <dt>Wrapper Width</dt>
  <dd>258 px</dd>
  <dt>Outside Margin</dt>
  <dd>24 px</dd>
  <dt>Column Width</dt>
  <dd>120 px</dd>
  <dt>Gutter Width</dt>
  <dd>18 px</dd>
</dl>

<h3>Single Columns</h3>

<div class="row">
  <div class="col-1of2">1 of 2</div>
  <div class="col-1of2">2 of 2</div>
</div>

<hr>

<h2>6 Column Break Point</h2>

<dl>
  <dt>Screen Width</dt>
  <dd>600 px</dd>
  <dt>Wrapper Width</dt>
  <dd>480 px</dd>
  <dt>Outside Margin</dt>
  <dd>60 px</dd>
  <dt>Column Width</dt>
  <dd>60 px</dd>
  <dt>Gutter Width</dt>
  <dd>24 px</dd>
</dl>

<h3>Single Columns</h3>

<div class="row">
  <div class="col-1of6">1 of 6</div>
  <div class="col-1of6">2 of 6</div>
  <div class="col-1of6">3 of 6</div>
  <div class="col-1of6">4 of 6</div>
  <div class="col-1of6">5 of 6</div>
  <div class="col-1of6">6 of 6</div>
</div>

<hr>

<h2>12 Column Break Point</h2>

<dl>
  <dt>Screen Width</dt>
  <dd>1116 px</dd>
  <dt>Wrapper Width</dt>
  <dd>972 px</dd>
  <dt>Outside Margin</dt>
  <dd>72 px</dd>
  <dt>Column Width</dt>
  <dd>48 px</dd>
  <dt>Gutter Width</dt>
  <dd>36 px</dd>
</dl>

<h3>Single Columns</h3>

<div class="row">
  <div class="col-1of12">1 of 12</div>
  <div class="col-1of12">2 of 12</div>
  <div class="col-1of12">3 of 12</div>
  <div class="col-1of12">4 of 12</div>
  <div class="col-1of12">5 of 12</div>
  <div class="col-1of12">6 of 12</div>
  <div class="col-1of12">7 of 12</div>
  <div class="col-1of12">8 of 12</div>
  <div class="col-1of12">9 of 12</div>
  <div class="col-1of12">10 of 12</div>
  <div class="col-1of12">11 of 12</div>
  <div class="col-1of12">12 of 12</div>
</div>

<h3>Layout Columns</h3>

<div class="row">
  <div class="col-4of12">4 of 12</div>
  <div class="col-8of12">8 of 12</div>
</div>

<hr>

<h2>16 Column Break Point</h2>

<dl>
  <dt>Screen Width</dt>
  <dd>1452 px</dd>
  <dt>Wrapper Width</dt>
  <dd>1308 px</dd>
  <dt>Outside Margin</dt>
  <dd>72 px</dd>
  <dt>Column Width</dt>
  <dd>48 px</dd>
  <dt>Gutter Width</dt>
  <dd>36 px</dd>
</dl>

<h3>Single Columns</h3>

<div class="row">
  <div class="col-1of16">1 of 16</div>
  <div class="col-1of16">2 of 16</div>
  <div class="col-1of16">3 of 16</div>
  <div class="col-1of16">4 of 16</div>
  <div class="col-1of16">5 of 16</div>
  <div class="col-1of16">6 of 16</div>
  <div class="col-1of16">7 of 16</div>
  <div class="col-1of16">8 of 16</div>
  <div class="col-1of16">9 of 16</div>
  <div class="col-1of16">10 of 16</div>
  <div class="col-1of16">11 of 16</div>
  <div class="col-1of16">12 of 16</div>
  <div class="col-1of16">13 of 16</div>
  <div class="col-1of16">14 of 16</div>
  <div class="col-1of16">15 of 16</div>
  <div class="col-1of16">16 of 16</div>
</div>

<h3>Layout Columns</h3>

<div class="row">
  <div class="col-4of16">4 of 16</div>
  <div class="col-6of16">6 of 16</div>
  <div class="col-6of16">6 of 16</div>
</div>
