<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06">vipfeed-37-2012-11-06</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities">Localities</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">1001</a>
</nav>

<h1>Locality ID: 1001</h1>

<a class="error-count" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/errors">115 Errors in Locality ID: 1001</a>

<dl class="attributes">
  <dt class="key">Name:</dt>
  <dd class="value">Alamance</dd>
  <dt class="key">Type:</dt>
  <dd class="value">County</dd>
  <dt class="key">Election Machine Type:</dt>
  <dd class="value"></dd>
  <dt class="key">Pollbook Type:</dt>
  <dd class="value"></dd>
</dl>

<section class="data-group started">
  <h2>Overview</h2>

  <table class="overview">
    <thead>
      <tr>
        <th>Element Type</th>
        <th>Amount</th>
        <th>Completion</th>
        <th>Errors</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="element-type">Electoral Districts</td>
        <td class="amount">976</td>
        <td class="completion">
          <div class="completeness">
            <span class="complete-21"></span>
            <span class="counter">21% complete</span>
          </div>
        </td>
        <td class="element-errors"><a class="errors" href="#">888</a></td>
      </tr>
      <tr>
        <td class="element-type">Precincts</td>
        <td class="amount">2,756</td>
        <td class="completion">
          <div class="completeness">
            <span class="complete-94"></span>
            <span class="counter">94% complete</span>
          </div>
        </td>
        <td class="element-errors"><a class="errors" href="#">206</a></td>
      </tr>
      <tr>
        <td class="element-type">Precinct Splits</td>
        <td class="amount">8,467</td>
        <td class="completion">
          <div class="completeness">
            <span class="complete-54"></span>
            <span class="counter">54% complete</span>
          </div>
        </td>
        <td class="element-errors"><a class="errors" href="#">8,407</a></td>
      </tr>
      <tr>
        <td class="element-type">Street Segments</td>
        <td class="amount">389,289</td>
        <td class="completion">
          <div class="completeness">
            <span class="complete-19"></span>
            <span class="counter">19% complete</span>
          </div>
        </td>
        <td class="element-errors"><a class="errors" href="#">321,824</a></td>
      </tr>
      <tr>
        <td class="element-type">Polling Locations</td>
        <td class="amount">2,756</td>
        <td class="completion">
          <div class="completeness">
            <span class="complete-71"></span>
            <span class="counter">71% complete</span>
          </div>
        </td>
        <td class="element-errors"><a class="errors" href="#">2,389</a></td>
      </tr>
      <tr>
        <td class="element-type">Early Vote Sites</td>
        <td class="amount">363</td>
        <td class="completion">
          <div class="completeness">
            <span class="complete-2"></span>
            <span class="counter">2% complete</span>
          </div>
        </td>
        <td class="element-errors"><a class="errors" href="#">275</a></td>
      </tr>
      <tr>
        <td class="element-type">Election Administrations</td>
        <td class="amount">100</td>
        <td class="completion">
          <div class="completeness">
            <span class="complete-100"></span>
            <span class="counter">100% complete</span>
          </div>
        </td>
        <td class="element-errors"><span class="errors none">0</span></td>
      </tr>
      <tr>
        <td class="element-type">Election Officials</td>
        <td class="amount">101</td>
        <td class="completion">
          <div class="completeness">
            <span class="complete-77"></span>
            <span class="counter">77% complete</span>
          </div>
        </td>
        <td class="element-errors"><a class="errors" href="#">81</a></td>
      </tr>
    </tbody>
  </table>

</section><!-- /.data-group -->

<section class="data-group">
  <h2>3 Early Vote Sites</h2>

  <table class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id"><a href="#">240017</a></td>
        <td class="name"><a href="#">Court Services</a></td>
        <td class="address"><a href="#">Graham, NC 27253</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">240018</a></td>
        <td class="name"><a href="#">Mebane Arts Center</a></td>
        <td class="address"><a href="#">Mebane, NC 27302</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">240019</a></td>
        <td class="name"><a href="#">May Memorial Library</a></td>
        <td class="address"><a href="#">Burlington, NC 27215</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="data-group">
  <h2>Election Administration</h2>

  <table class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id"><a href="#">22001</a></td>
        <td class="name"><a href="#">Alamance County Board of Elections</a></td>
        <td class="address"><a href="#">Graham, NC 27253</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="data-group">
  <h2>7 Precincts</h2>

  <table class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Precinct Splits</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id"><a href="#">910011</a></td>
        <td class="name"><a href="#">Patterson</a></td>
        <td class="precinct-splits"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100110</a></td>
        <td class="name"><a href="#">Faucette</a></td>
        <td class="precinct-splits"><a href="#">2</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100111</a></td>
        <td class="name"><a href="#">Graham 3</a></td>
        <td class="precinct-splits"><a href="#">4</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100112</a></td>
        <td class="name"><a href="#">Graham 4</a></td>
        <td class="precinct-splits"><a href="#">3</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100113</a></td>
        <td class="name"><a href="#">East Graham</a></td>
        <td class="precinct-splits"><a href="#">2</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100114</a></td>
        <td class="name"><a href="#">North Graham</a></td>
        <td class="precinct-splits"><a href="#">2</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100115</a></td>
        <td class="name"><a href="#">South Graham</a></td>
        <td class="precinct-splits"><a href="#">2</a></td>
      </tr>
    </tbody>
  </table>
</section>
