<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06">vipfeed-37-2012-11-06</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities">Localities</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">1001</a>
</nav>

<h1>Locality ID: 1001</h1>

<div class="content">

  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd class="value">Alamance</dd>
    <dt class="key">Locality Type:</dt>
    <dd class="value">County</dd>
    <dt class="key">Election Machine Type:</dt>
    <dd class="value"></dd>
    <dt class="key">Pollbook Type:</dt>
    <dd class="value"></dd>
  </dl>

  <h3>Election Administration</h3>

  <table class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id"><a href="#">22001</a></td>
        <td class="name"><a href="#">Alamance County Board of Elections</a></td>
        <td class="address"><a href="#">Graham, NC 27253</a></td>
      </tr>
    </tbody>
  </table>

  <h3>3 Early Vote Sites</h3>

  <table class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id"><a href="#">240017</a></td>
        <td class="name"><a href="#">Court Services</a></td>
        <td class="address"><a href="#">Graham, NC 27253</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">240018</a></td>
        <td class="name"><a href="#">Mebane Arts Center</a></td>
        <td class="address"><a href="#">Mebane, NC 27302</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">240019</a></td>
        <td class="name"><a href="#">May Memorial Library</a></td>
        <td class="address"><a href="#">Burlington, NC 27215</a></td>
      </tr>
    </tbody>
  </table>

  <h3>7 Precincts</h3>

  <table class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Precinct Splits</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id"><a href="#">910011</a></td>
        <td class="name"><a href="#">Patterson</a></td>
        <td class="precinct-splits"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100110</a></td>
        <td class="name"><a href="#">Faucette</a></td>
        <td class="precinct-splits"><a href="#">2</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100111</a></td>
        <td class="name"><a href="#">Graham 3</a></td>
        <td class="precinct-splits"><a href="#">4</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100112</a></td>
        <td class="name"><a href="#">Graham 4</a></td>
        <td class="precinct-splits"><a href="#">3</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100113</a></td>
        <td class="name"><a href="#">East Graham</a></td>
        <td class="precinct-splits"><a href="#">2</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100114</a></td>
        <td class="name"><a href="#">North Graham</a></td>
        <td class="precinct-splits"><a href="#">2</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">9100115</a></td>
        <td class="name"><a href="#">South Graham</a></td>
        <td class="precinct-splits"><a href="#">2</a></td>
      </tr>
    </tbody>
  </table>

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>