<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06">vipfeed-37-2012-11-06</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities">Localities</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">1001</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts">Precincts</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts/910011">910011</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts/910011/precinct-splits">Precinct Splits</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts/910011/precinct-splits/710022">710022</a>
</nav>

<h1>Precinct Split ID: 710022</h1>

<a class="error-count" href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001/precincts/910011/precinct-splits/710022/errors">115 Errors in Precinct Split ID: 710022</a>

<dl class="attributes">
  <dt class="key">Name:</dt>
  <dd class="value">Patterson-1</dd>
  <dt class="key">Ballot Style Image Url:</dt>
  <dd class="value"></dd>
</dl>

<section class="data-group">
  <h2>25 Electoral Districts</h2>

  <table class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contests</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id"><a href="#">330004744</a></td>
        <td class="name"><a href="#">US President</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004752</a></td>
        <td class="name"><a href="#">US House of Representatives District 02</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004800</a></td>
        <td class="name"><a href="#">NC Governor</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004804</a></td>
        <td class="name"><a href="#">NC Lieutenant Governor</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004808</a></td>
        <td class="name"><a href="#">NC Attorney General</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004812</a></td>
        <td class="name"><a href="#">NC Auditor</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004816</a></td>
        <td class="name"><a href="#">NC Commissioner of Agriculture</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004820</a></td>
        <td class="name"><a href="#">NC Commissioner of Insurance</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004824</a></td>
        <td class="name"><a href="#">NC Commissioner of Labor</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004828</a></td>
        <td class="name"><a href="#">NC Secretary of State</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004832</a></td>
        <td class="name"><a href="#">NC Superintendent of Public Instruction</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004836</a></td>
        <td class="name"><a href="#">NC Treasurer</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330004932</a></td>
        <td class="name"><a href="#">NC State Senate District 24</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330005292</a></td>
        <td class="name"><a href="#">NC House of Representatives District 064</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330005570</a></td>
        <td class="name"><a href="#">Supreme Court Associate Justice (Newby)</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330005572</a></td>
        <td class="name"><a href="#">Court of Appeals Judge (Mcgee)</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330005574</a></td>
        <td class="name"><a href="#">Court of Appeals Judge (Bryant)</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330005576</a></td>
        <td class="name"><a href="#">Court of Appeals Judge (Thigpen)</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330005746</a></td>
        <td class="name"><a href="#">District Court Judge District 15A (Lambeth)</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330005748</a></td>
        <td class="name"><a href="#">District Court Judge District 15A (Overby)</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">330005750</a></td>
        <td class="name"><a href="#">District Court Judge District 15A (Roberson)</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">33001408</a></td>
        <td class="name"><a href="#">Alamance County Commissioner</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">33001412</a></td>
        <td class="name"><a href="#">Alamance Register of Deeds</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">33001416</a></td>
        <td class="name"><a href="#">Alamance Board of Education</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
      <tr>
        <td class="id"><a href="#">33001417</a></td>
        <td class="name"><a href="#">Alamance Soil and Water Conservation District Supervisor</a></td>
        <td class="contests"><a href="#">1</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="data-group">
  <h2>1 Polling Location</h2>

  <table class="associations">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id"><a href="#">2300126</a></td>
        <td class="name"><a href="#">Sylvan Elementary School</a></td>
        <td class="address"><a href="#">Snow Camp, NC 27349</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="data-group">
  <h2>0 Street Segments</h2>
</section>
