<nav class="breadcrumbs">
  <a href="/feeds">Feeds</a>
  <a href="/feeds/vipfeed-37-2012-11-06">vipfeed-37-2012-11-06</a>
  <a href="/feeds/vipfeed-37-2012-11-06-2/election">Election</a>
  <a class="current" href="/feeds/vipfeed-37-2012-11-06-2/election/state">State</a>
</nav>

<h1>State ID: 37</h1>

<div class="content">

  <dl class="attributes">
    <dt class="key">Name:</dt>
    <dd class="value">North Carolina</dd>
  </dl>

  <section class="data-group">
    <h2>0 Election Administrations</h2>
  </section><!-- /.data-group -->

  <section class="data-group">
    <h2>0 Early Vote Sites</h2>
  </section><!-- /.data-group -->

  <section class="data-group">

    <h2>100 Localities <small>(Counties)</small></h2>

    <table class="associations">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Precincts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">1001</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">Alamance</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1001">37</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1002">1002</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1002">Alexander</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1002">16</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1003">1003</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1003">Alleghany</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1003">7</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1004">1004</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1004">Anson</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1004">11</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1005">1005</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1005">Ashe</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1005">17</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1006">1006</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1006">Avery</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1006">19</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1007">1007</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1007">Beaufort</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1007">21</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1008">1008</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1008">Bertie</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1008">12</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1009">1009</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1009">Bladen</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1009">17</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1010">1010</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1010">Brunswick</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1010">26</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1011">1011</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1011">Buncombe</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1011">80</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1012">1012</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1012">Burke</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1012">33</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1013">1013</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1013">Cabarrus</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1013">46</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1014">1014</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1014">Caldwell</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1014">21</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1015">1015</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1015">Camden</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1015">3</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1016">1016</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1016">Carteret</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1016">27</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1017">1017</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1017">Caswell</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1017">10</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1018">1018</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1018">Catawba</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1018">40</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1019">1019</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1019">Chatham</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1019">19</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1020">1020</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1020">Cherokee</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1020">16</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1021">1021</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1021">Chowan</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1021">6</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1022">1022</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1022">Clay</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1022">9</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1023">1023</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1023">Cleveland</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1023">26</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1024">1024</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1024">Columbus</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1024">26</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1025">1025</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1025">Craven</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1025">27</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1026">1026</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1026">Cumberland</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1026">77</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1027">1027</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1027">Currituck</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1027">11</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1028">1028</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1028">Dare</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1028">16</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1029">1029</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1029">Davidson</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1029">43</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1030">1030</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1030">Davie</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1030">14</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1031">1031</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1031">Duplin</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1031">19</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1032">1032</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1032">Durham</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1032">57</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1033">1033</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1033">Edgecombe</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1033">21</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1034">1034</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1034">Forsyth</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1034">101</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1035">1035</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1035">Franklin</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1035">18</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1036">1036</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1036">Gaston</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1036">46</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1037">1037</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1037">Gates</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1037">6</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1038">1038</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1038">Graham</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1038">4</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1039">1039</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1039">Granville</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1039">15</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1040">1040</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1040">Greene</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1040">10</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1041">1041</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1041">Guilford</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1041">165</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1042">1042</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1042">Halifax</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1042">25</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1043">1043</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1043">Harnett</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1043">12</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1044">1044</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1044">Haywood</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1044">29</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1045">1045</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1045">Henderson</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1045">35</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1046">1046</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1046">Hertford</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1046">13</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1047">1047</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1047">Hoke</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1047">14</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1048">1048</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1048">Hyde</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1048">7</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1049">1049</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1049">Iredell</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1049">29</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1050">1050</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1050">Jackson</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1050">15</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1051">1051</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1051">Johnston</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1051">36</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1052">1052</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1052">Jones</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1052">7</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1053">1053</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1053">Lee</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1053">10</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1054">1054</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1054">Lenoir</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1054">22</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1055">1055</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1055">Lincoln</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1055">28</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1056">1056</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1056">Macon</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1056">15</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1057">1057</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1057">Madison</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1057">12</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1058">1058</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1058">Martin</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1058">13</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1059">1059</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1059">Mcdowell</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1059">17</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1060">1060</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1060">Mecklenburg</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1060">195</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1061">1061</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1061">Mitchell</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1061">9</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1062">1062</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1062">Montgomery</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1062">14</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1063">1063</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1063">Moore</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1063">26</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1064">1064</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1064">Nash</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1064">27</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1065">1065</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1065">New Hanover</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1065">43</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1066">1066</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1066">Northampton</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1066">18</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1067">1067</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1067">Onslow</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1067">24</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1068">1068</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1068">Orange</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1068">44</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1069">1069</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1069">Pamlico</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1069">10</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1070">1070</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1070">Pasquotank</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1070">13</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1071">1071</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1071">Pender</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1071">20</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1072">1072</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1072">Perquimans</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1072">7</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1073">1073</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1073">Person</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1073">14</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1074">1074</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1074">Pitt</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1074">40</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1075">1075</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1075">Polk</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1075">7</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1076">1076</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1076">Randolph</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1076">40</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1077">1077</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1077">Richmond</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1077">16</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1078">1078</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1078">Robeson</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1078">42</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1079">1079</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1079">Rockingham</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1079">15</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1080">1080</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1080">Rowan</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1080">41</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1081">1081</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1081">Rutherford</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1081">17</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1082">1082</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1082">Sampson</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1082">23</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1083">1083</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1083">Scotland</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1083">10</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1084">1084</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1084">Stanly</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1084">23</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1085">1085</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1085">Stokes</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1085">20</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1086">1086</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1086">Surry</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1086">29</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1087">1087</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1087">Swain</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1087">5</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1088">1088</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1088">Transylvania</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1088">15</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1090">1090</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1090">Union</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1090">52</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1091">1091</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1091">Vance</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1091">12</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1092">1092</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1092">Wake</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1092">200</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1093">1093</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1093">Warren</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1093">14</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1094">1094</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1094">Washington</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1094">6</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1095">1095</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1095">Watauga</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1095">20</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1096">1096</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1096">Wayne</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1096">30</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1097">1097</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1097">Wilkes</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1097">28</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1098">1098</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1098">Wilson</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1098">24</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1099">1099</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1099">Yadkin</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1099">12</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1100">1100</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1100">Yancey</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1100">11</a></td>
        </tr>
        <tr>
          <td class="locality-id"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1089">1089</a></td>
          <td class="locality-name"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1089">Tyrrell</a></td>
          <td class="locality-precincts"><a href="/feeds/vipfeed-37-2012-11-06-2/election/state/localities/1089">6</a></td>
        </tr>
      </tbody>
    </table>

  </section><!-- /.data-group -->

</div><!-- /.content -->

<aside>

  <form role="search">
    <input type="search" placeholder="Search">
  </form>

  <a class="button-errors" href="#">875 Total Feed Errors</a>

  <h2 class="feed-status">Revisions Needed</h2>

  <time datetime="2012-09-25" class="due-date">Due 2012/09/25</time>

  <ul class="checklist">
    <li class="finished">Source</li>
    <li class="finished">Election</li>
    <li class="started">Polling Locations</li>
    <li class="started">Contests</li>
    <li class="unstarted">Results</li>
  </ul>

  <form>
    <input type="submit" class="button-approve disabled" value="Approve Feed">
    <p class="helper">Fatal Errors must be resolved before the feed can be approved.</p>
  </form>

  <!-- Only visible to Admins -->
  <h2>Feed Users</h2>
  <ul>
    <li>Stephen Miller <a href="#">Delete</a></li>
    <li>Jody Bonavides <a href="#">Delete</a></li>
  </ul>
  <form>
    <select>
      <optgroup label="Ohio"><!-- Only users from the state the feed belongs to. -->
        <option>Select User</option>
        <option>Tyler Bassen</option>
        <option>Mike Smith</option>
      </optgroup>
    </select>
    <input type="submit" class="button-add-user" value="Add User">
  </form>
  <a href="#">Delete this feed</a>
  <!-- /Only visible to Admins -->

</aside>